In [1]:
import pandas as pd
import numpy as np
import csv
import datetime 
import time
import json 
import random

%matplotlib inline
import matplotlib.pyplot as plt 
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [2]:
DATA_ROOT_PATH = "/home/trongnhat/Documents/ITE_journal/Tuc_dataset/"

In [3]:
retail_rocket_root_path = DATA_ROOT_PATH + 'retail_rocket/' 
recobell_root_path = DATA_ROOT_PATH + "recobell/"
ml_1m_root_path = DATA_ROOT_PATH + "ml-1m/"

# Note:
    - Trong quá trình tạo dữ liệu dạng chuỗi để training, phát hiện ra cần thay đổi cách mã hóa dữ liệu addtocart và transaction
    - Trước hết, kiểm tra lại tại sao bất kì tương tác nào đều được thêm vào file implicit nhưng bây giờ đọc lại file lại không thấy?

# Read the filtered implicit and explicit data, combine and sort by time_stamp
## Note: 
    - Implicit and explicit with identical time_stamp will be merged to only one interaction
    - For a user, implicit and explicit of same item that happened one right after one (no interation with other item between this implicit and explicit) will be merge to only one interation, too

In [7]:
clean_implicit_data = pd.read_csv(retail_rocket_root_path + '_implicit.clean.txt', header=None, names=['uid', 'itemid', 'time', "label"])
clean_explicit_data = pd.read_csv(retail_rocket_root_path + '_explicit.clean.txt', header=None, names=['uid', 'itemid', 'time', "label"])

In [8]:
filter_implicit_data[:20]

        uid  itemid           time  label
0    257597  355908  1433221332117      1
1    992329  248676  1433224214164      1
2    951259  367447  1433221337106      1
3    810725  443030  1433221923240      1
4    794181  439202  1433223291897      1
5    824915  428805  1433220899221      1
6    339335   82389  1433221204592      1
7    176446   10572  1433222162373      1
8    598426  156489  1433223697356      1
9    223343  402625  1433224078165      1
10    57036  334662  1433222531378      1
11  1377281  251467  1433223239808      1
12  1370216  176721  1433224244282      1
13  1398644  135256  1433224070841      1
14  1213673  343861  1433221274809      1
15   864246   36642  1433221275206      1
16   125625   17655  1433223203944      1
17   781127   21989  1433221373311      1
18  1076270  262799  1433222147345      1
19  1153198  388242  1433221377547      1

In [45]:
with open(retail_rocket_root_path + 'i2index.txt') as f:
    active_item_dict = {int(line.split(',')[0]): int(line.split(',')[1]) for line in f}
active_item_list = active_item_dict.keys()
print(len(active_item_list))

83274

In [46]:
with open(retail_rocket_root_path + 'u2index.txt') as f:
    active_user_dict = {int(line.split(',')[0]): int(line.split(',')[1]) for line in f}
active_user_list = active_user_dict.keys()
print(len(active_user_list))

36751

In [22]:
print("Length before filter: ", len(clean_implicit_data))
# loai bo tuong tac ma user, item khong co trong active_user_list va active_item_list.
clean_implicit_data = clean_implicit_data[clean_implicit_data.uid.isin(active_user_list)]
print("length after filter user: ", len(clean_implicit_data))
clean_implicit_data = clean_implicit_data[clean_implicit_data.itemid.isin(active_item_list)]
print("length after filter item: ", len(clean_implicit_data))

NameError: name 'clean_implicit_data' is not defined

In [12]:
print("Length before filter: ", len(clean_explicit_data))
# loai bo tuong tac ma user, item khong co trong active_user_list va active_item_list.
clean_explicit_data = clean_explicit_data[clean_explicit_data.uid.isin(active_user_list)]
print("length after filter user: ", len(clean_explicit_data))
clean_explicit_data = clean_explicit_data[clean_explicit_data.itemid.isin(active_item_list)]
print("length after filter item: ", len(clean_explicit_data))

Length before filter:  88886
length after filter user:  39942
length after filter item:  39939

In [13]:
filter_implicit_data = clean_implicit_data.apply(lambda x: pd.Series([active_user_dict[x['uid']], active_item_dict[x['itemid']], x['time'], x["label"]], index=["uid", "itemid", "time", "label"]), axis=1)

In [14]:
filter_implicit_data

           uid  itemid           time  label
1            0       0  1433224214164      1
5            1       1  1433220899221      1
13           2       2  1433224070841      1
16           3       3  1433223203944      1
18           4       4  1433222147345      1
21           5       5  1433221380636      1
22           6       6  1433223176926      1
29           7       7  1433223146605      1
45           8       8  1433224041294      1
46           9       9  1433223076406      1
49          10      10  1433223067576      1
51          11      11  1433221152282      1
63          12      12  1433222046974      1
73          12      13  1433222930873      1
75           4      14  1433221123646      1
78          13      15  1433221740333      1
80          14      16  1433222897013      1
81           1      17  1433220908194      1
84          15      18  1433222409338      1
88          12      19  1433222860128      1
90          16      20  1433222605362      1
95          12      21  1433222291999      1
97          17      22  1433221523348      1
99          18      23  1433222793547      1
101          5      24  1433221526354      1
103         19      25  1433221724640      1
107         20      26  1433224733131      1
115         21      27  1433222341342      1
119          3      28  1433222057888      1
126         10      29  1433223651491      1
...        ...     ...            ...    ...
2020218  11028    9336  1438402154996      1
2020221  13894      23  1438397312078      1
2020223  36725   20571  1438398207150      1
2020229   5670   14105  1438397197382      1
2020233  36726   28123  1438398871032      1
2020234  13894     818  1438397360331      1
2020239  13894      62  1438397417325      1
2020243  36723    8058  1438398101378      1
2020246  17490    6436  1438402186555      1
2020248  36678    1524  1438398693355      1
2020249  36725   26314  1438397967868      1
2020255  34091   83272  1438397728488      1
2020257  36729    3994  1438397370584      1
2020262  36678    1491  1438398728888      1
2020263  36677   19588  1438400558113      1
2020266  35875   15630  1438400508036      1
2020267   5670   10685  1438401523751      1
2020280  35875   80373  1438400221510      1
2020283  35875   32504  1438400091038      1
2020284  23661   83273  1438402109371      1
2020285  32989    3581  1438399438127      1
2020289  12710   16658  1438397157822      1
2020290  15547    5133  1438400978981      1
2020292  35875   31170  1438399658219      1
2020293  12865   41061  1438398509849      1
2020294  12817   37620  1438400950177      1
2020299  22914   56815  1438400010258      1
2020306  36739    4074  1438397455397      1
2020309  13761   56713  1438398087349      1
2020310  15955   19041  1438398473572      1

[573756 rows x 4 columns]

In [15]:
filter_explicit_data = clean_explicit_data.apply(lambda x: pd.Series([active_user_dict[x['uid']], active_item_dict[x['itemid']], x['time'], x["label"]], index=["uid", "itemid", "time", "label"]), axis=1)

In [16]:
filter_explicit_data

         uid  itemid           time  label
6         31   59933  1433193500981      3
9        136    2915  1433218757551      2
14        62      91  1433217911121      2
16        50    3167  1433174825959      2
17        90     152  1433175546693      2
20        50     840  1433174892472      2
25       103      26  1433174518180      3
26       118     187  1433176320539      2
27       103      26  1433174341347      2
28       245     765  1433175895575      2
31       118     975  1433183129913      2
32        38    1574  1433183185104      2
34       126     969  1433183394482      2
35       126     180  1433183520078      2
36       118     187  1433181642757      2
37       145     969  1433183995656      2
38        56    2559  1433184261340      3
39        56     954  1433184261371      3
40       145     985  1433182772710      3
42       153   12705  1433166902999      2
47       131    3054  1433179837490      2
48       174    1004  1433178410977      2
49        27    3060  1433178172202      2
50       190    3129  1433180626340      2
52       190     343  1433179804054      2
55        27    1040  1433179768674      3
56        27    1034  1433179650681      2
57        27    1040  1433179649072      2
58       118    1014  1433177974257      2
60        27     402  1433202718094      2
...      ...     ...            ...    ...
88822  13904   36950  1438367776301      2
88823   1398   37123  1438368027819      2
88824  13531   35054  1438368405362      2
88826  36730    1049  1438367030335      2
88831  12703   29600  1438323696490      2
88832  13849   83108  1438325829549      2
88834  36710   11837  1438381020630      2
88837  12684   36950  1438381256751      3
88839   5916    4235  1438382125690      2
88841  13250    9845  1438369066787      2
88842  12684    8764  1438370259818      2
88843  34648    4081  1438369054189      2
88848  13250    9845  1438369131662      3
88849  13531   23015  1438368686854      2
88854  13904   34956  1438389817314      2
88856  13904   35363  1438376953339      3
88857  19479   50268  1438378813636      2
88858  14901   40821  1438380270548      2
88860  16612   45924  1438380441389      3
88863  16612   45924  1438380246721      2
88864  13904   12122  1438379878779      3
88868  10662    4876  1438358657660      2
88869  15183   39710  1438357128532      2
88872   5051   36734  1438357528920      2
88873  13904     878  1438356834160      2
88875   8327     719  1438355560300      3
88877   5051   36734  1438357544346      2
88878   5051   82967  1438358117670      2
88884   5670    5912  1438399807937      2
88885   5670   50144  1438399811281      2

[39939 rows x 4 columns]

In [17]:
filter_implicit_data.to_csv(retail_rocket_root_path + "_implicit.filter.clean.txt", header=False, index=False)

In [18]:
filter_explicit_data.to_csv(retail_rocket_root_path + "_explicit.filter.clean.txt", header=False, index=False)

In [20]:
filter_implicit_data = pd.read_csv(retail_rocket_root_path + "_implicit.filter.clean.txt", header=None, names=['uid', 'itemid', 'time', "label"])
filter_implicit_data

          uid  itemid           time  label
0           0       0  1433224214164      1
1           1       1  1433220899221      1
2           2       2  1433224070841      1
3           3       3  1433223203944      1
4           4       4  1433222147345      1
5           5       5  1433221380636      1
6           6       6  1433223176926      1
7           7       7  1433223146605      1
8           8       8  1433224041294      1
9           9       9  1433223076406      1
10         10      10  1433223067576      1
11         11      11  1433221152282      1
12         12      12  1433222046974      1
13         12      13  1433222930873      1
14          4      14  1433221123646      1
15         13      15  1433221740333      1
16         14      16  1433222897013      1
17          1      17  1433220908194      1
18         15      18  1433222409338      1
19         12      19  1433222860128      1
20         16      20  1433222605362      1
21         12      21  1433222291999      1
22         17      22  1433221523348      1
23         18      23  1433222793547      1
24          5      24  1433221526354      1
25         19      25  1433221724640      1
26         20      26  1433224733131      1
27         21      27  1433222341342      1
28          3      28  1433222057888      1
29         10      29  1433223651491      1
...       ...     ...            ...    ...
573726  11028    9336  1438402154996      1
573727  13894      23  1438397312078      1
573728  36725   20571  1438398207150      1
573729   5670   14105  1438397197382      1
573730  36726   28123  1438398871032      1
573731  13894     818  1438397360331      1
573732  13894      62  1438397417325      1
573733  36723    8058  1438398101378      1
573734  17490    6436  1438402186555      1
573735  36678    1524  1438398693355      1
573736  36725   26314  1438397967868      1
573737  34091   83272  1438397728488      1
573738  36729    3994  1438397370584      1
573739  36678    1491  1438398728888      1
573740  36677   19588  1438400558113      1
573741  35875   15630  1438400508036      1
573742   5670   10685  1438401523751      1
573743  35875   80373  1438400221510      1
573744  35875   32504  1438400091038      1
573745  23661   83273  1438402109371      1
573746  32989    3581  1438399438127      1
573747  12710   16658  1438397157822      1
573748  15547    5133  1438400978981      1
573749  35875   31170  1438399658219      1
573750  12865   41061  1438398509849      1
573751  12817   37620  1438400950177      1
573752  22914   56815  1438400010258      1
573753  36739    4074  1438397455397      1
573754  13761   56713  1438398087349      1
573755  15955   19041  1438398473572      1

[573756 rows x 4 columns]

In [21]:
filter_explicit_data = pd.read_csv(retail_rocket_root_path + "_explicit.filter.clean.txt", header=None, names=['uid', 'itemid', 'time', "label"])
filter_explicit_data

         uid  itemid           time  label
0         31   59933  1433193500981      3
1        136    2915  1433218757551      2
2         62      91  1433217911121      2
3         50    3167  1433174825959      2
4         90     152  1433175546693      2
5         50     840  1433174892472      2
6        103      26  1433174518180      3
7        118     187  1433176320539      2
8        103      26  1433174341347      2
9        245     765  1433175895575      2
10       118     975  1433183129913      2
11        38    1574  1433183185104      2
12       126     969  1433183394482      2
13       126     180  1433183520078      2
14       118     187  1433181642757      2
15       145     969  1433183995656      2
16        56    2559  1433184261340      3
17        56     954  1433184261371      3
18       145     985  1433182772710      3
19       153   12705  1433166902999      2
20       131    3054  1433179837490      2
21       174    1004  1433178410977      2
22        27    3060  1433178172202      2
23       190    3129  1433180626340      2
24       190     343  1433179804054      2
25        27    1040  1433179768674      3
26        27    1034  1433179650681      2
27        27    1040  1433179649072      2
28       118    1014  1433177974257      2
29        27     402  1433202718094      2
...      ...     ...            ...    ...
39909  13904   36950  1438367776301      2
39910   1398   37123  1438368027819      2
39911  13531   35054  1438368405362      2
39912  36730    1049  1438367030335      2
39913  12703   29600  1438323696490      2
39914  13849   83108  1438325829549      2
39915  36710   11837  1438381020630      2
39916  12684   36950  1438381256751      3
39917   5916    4235  1438382125690      2
39918  13250    9845  1438369066787      2
39919  12684    8764  1438370259818      2
39920  34648    4081  1438369054189      2
39921  13250    9845  1438369131662      3
39922  13531   23015  1438368686854      2
39923  13904   34956  1438389817314      2
39924  13904   35363  1438376953339      3
39925  19479   50268  1438378813636      2
39926  14901   40821  1438380270548      2
39927  16612   45924  1438380441389      3
39928  16612   45924  1438380246721      2
39929  13904   12122  1438379878779      3
39930  10662    4876  1438358657660      2
39931  15183   39710  1438357128532      2
39932   5051   36734  1438357528920      2
39933  13904     878  1438356834160      2
39934   8327     719  1438355560300      3
39935   5051   36734  1438357544346      2
39936   5051   82967  1438358117670      2
39937   5670    5912  1438399807937      2
39938   5670   50144  1438399811281      2

[39939 rows x 4 columns]

In [22]:
filtered_data = filter_implicit_data.append(filter_explicit_data)
filtered_data

         uid  itemid           time  label
0          0       0  1433224214164      1
1          1       1  1433220899221      1
2          2       2  1433224070841      1
3          3       3  1433223203944      1
4          4       4  1433222147345      1
5          5       5  1433221380636      1
6          6       6  1433223176926      1
7          7       7  1433223146605      1
8          8       8  1433224041294      1
9          9       9  1433223076406      1
10        10      10  1433223067576      1
11        11      11  1433221152282      1
12        12      12  1433222046974      1
13        12      13  1433222930873      1
14         4      14  1433221123646      1
15        13      15  1433221740333      1
16        14      16  1433222897013      1
17         1      17  1433220908194      1
18        15      18  1433222409338      1
19        12      19  1433222860128      1
20        16      20  1433222605362      1
21        12      21  1433222291999      1
22        17      22  1433221523348      1
23        18      23  1433222793547      1
24         5      24  1433221526354      1
25        19      25  1433221724640      1
26        20      26  1433224733131      1
27        21      27  1433222341342      1
28         3      28  1433222057888      1
29        10      29  1433223651491      1
...      ...     ...            ...    ...
39909  13904   36950  1438367776301      2
39910   1398   37123  1438368027819      2
39911  13531   35054  1438368405362      2
39912  36730    1049  1438367030335      2
39913  12703   29600  1438323696490      2
39914  13849   83108  1438325829549      2
39915  36710   11837  1438381020630      2
39916  12684   36950  1438381256751      3
39917   5916    4235  1438382125690      2
39918  13250    9845  1438369066787      2
39919  12684    8764  1438370259818      2
39920  34648    4081  1438369054189      2
39921  13250    9845  1438369131662      3
39922  13531   23015  1438368686854      2
39923  13904   34956  1438389817314      2
39924  13904   35363  1438376953339      3
39925  19479   50268  1438378813636      2
39926  14901   40821  1438380270548      2
39927  16612   45924  1438380441389      3
39928  16612   45924  1438380246721      2
39929  13904   12122  1438379878779      3
39930  10662    4876  1438358657660      2
39931  15183   39710  1438357128532      2
39932   5051   36734  1438357528920      2
39933  13904     878  1438356834160      2
39934   8327     719  1438355560300      3
39935   5051   36734  1438357544346      2
39936   5051   82967  1438358117670      2
39937   5670    5912  1438399807937      2
39938   5670   50144  1438399811281      2

[613695 rows x 4 columns]

In [23]:
sorted_filtered_pd_df = filtered_data.sort_values(by=["uid", "time"], ascending=True).reset_index(drop=True)
sorted_filtered_pd_df

          uid  itemid           time  label
0           0   20133  1430802384830      1
1           0     919  1432781848232      1
2           0    4244  1432782322169      1
3           0       0  1433224214164      1
4           0    2921  1433224672007      1
5           0    5692  1433225555976      1
6           0    6353  1433395087236      1
7           0    6353  1433395158782      1
8           0    6353  1433395205712      1
9           0   10195  1433480149682      1
10          0    9442  1433480383896      1
11          0    1249  1433480524891      1
12          0   10652  1433703062882      1
13          0   10345  1433729380709      1
14          0   10340  1433729489683      1
15          0   10603  1433729786622      1
16          0    9442  1433730019241      1
17          0    8738  1433730231553      1
18          0   13742  1433730402675      1
19          0   17896  1433945313290      1
20          0   17428  1433946626515      1
21          0   19630  1434035218038      1
22          0   20133  1434035349084      1
23          0    2679  1434035926844      1
24          0   10603  1434231531446      1
25          0   29323  1435014240987      1
26          0    8664  1435341565477      1
27          0   27941  1436197608867      1
28          0    6353  1436503481324      1
29          0   83046  1438273381735      1
...       ...     ...            ...    ...
613665  36746   39099  1438366315266      1
613666  36747   83100  1438371091177      1
613667  36747   83217  1438371153839      1
613668  36747   83205  1438371222758      1
613669  36747   83263  1438371252928      1
613670  36747   38642  1438372296416      1
613671  36747   52116  1438372317771      1
613672  36747   38642  1438372578913      1
613673  36747   38642  1438373345584      2
613674  36747   38642  1438373706127      3
613675  36747   38642  1438373874580      1
613676  36748   39341  1438382924873      1
613677  36748   39583  1438382999950      1
613678  36748   39341  1438383055736      1
613679  36748   31822  1438383174950      1
613680  36748   39081  1438383294041      1
613681  36748   37795  1438383384459      1
613682  36748    9592  1438383452525      1
613683  36748   37795  1438383628708      1
613684  36748    9592  1438383700882      1
613685  36749   20432  1438329462016      1
613686  36749    4799  1438329582522      1
613687  36749    6569  1438329644465      1
613688  36749   23889  1438329728579      1
613689  36749   21403  1438329786287      1
613690  36750   21591  1438403592429      1
613691  36750   21976  1438403746029      1
613692  36750   27465  1438403820763      1
613693  36750   49707  1438403914087      1
613694  36750     151  1438404173331      1

[613695 rows x 4 columns]

In [25]:
sorted_filtered_pd_df.loc[sorted_filtered_pd_df.uid == 4]

    uid  itemid           time  label
65    4      14  1433221123646      1
66    4    2504  1433221805923      1
67    4    2504  1433221877110      1
68    4       4  1433221919130      1
69    4    1364  1433221969799      1
70    4      14  1433222104658      2
71    4       4  1433222132534      2
72    4       4  1433222147345      1
73    4      14  1433222234895      1
74    4       4  1433222272880      1
75    4    2504  1433222306083      1
76    4      14  1433222323395      1
77    4    2935  1433222347980      1
78    4    2932  1433222368861      1
79    4      14  1433222449099      1
80    4    2504  1433222473645      1
81    4       4  1433222501643      1
82    4    1354  1433222666280      1
83    4    1372  1433222788421      1
84    4    2504  1433222862175      1
85    4    2504  1433222876938      2
86    4       4  1433223390388      3
87    4    2504  1433223390388      3

In [26]:
sorted_filtered_pd_df.to_csv(retail_rocket_root_path + "sorted_filtered_data", header=False, index=False)

In [20]:
retail_event_data = pd.read_csv("/home/trongnhat/Documents/Project/input/site_data/retail_rocket/raw_data/new_events.csv", header=0, names=["time", 'uid', "event", 'itemid', 'trans_id'])

In [21]:
retail_event_data

                  time      uid      event  itemid  trans_id
0        1433221332117   257597       view  355908       NaN
1        1433224214164   992329       view  248676       NaN
2        1433221337106   951259       view  367447       NaN
3        1433221923240   810725       view  443030       NaN
4        1433223291897   794181       view  439202       NaN
5        1433220899221   824915       view  428805       NaN
6        1433221204592   339335       view   82389       NaN
7        1433222162373   176446       view   10572       NaN
8        1433223697356   598426       view  156489       NaN
9        1433224078165   223343       view  402625       NaN
10       1433222531378    57036       view  334662       NaN
11       1433223239808  1377281       view  251467       NaN
12       1433223236124   287857  addtocart    5206       NaN
13       1433224244282  1370216       view  176721       NaN
14       1433221078505   158090  addtocart   10572       NaN
15       1433224070841  1398644       view  135256       NaN
16       1433221274809  1213673       view  343861       NaN
17       1433221275206   864246       view   36642       NaN
18       1433223203944   125625       view   17655       NaN
19       1433221373311   781127       view   21989       NaN
20       1433222147345  1076270       view  262799       NaN
21       1433221377547  1153198       view  388242       NaN
22       1433224266445   273888       view  205392       NaN
23       1433221380636   849453       view  123990       NaN
24       1433223176926   629333       view  128394       NaN
25       1433222143427  1130165       view   45337       NaN
26       1433223643340   112175       view  430845       NaN
27       1433223471170   860082       view   22926       NaN
28       1433222438241  1061147       view  280893       NaN
29       1433221622167  1342963       view  306886       NaN
...                ...      ...        ...     ...       ...
2109174  1438397769429   516318       view  295386       NaN
2109175  1438399658219   573245       view   39044       NaN
2109176  1438398509849    78716       view  233936       NaN
2109177  1438400950177   916871       view  233369       NaN
2109178  1438399256437   358086       view  187946       NaN
2109179  1438401820781  1359054       view  265810       NaN
2109180  1438400994744   144106  addtocart  141241       NaN
2109181  1438400304353   333944       view  235771       NaN
2109182  1438400580953  1217709       view  303704       NaN
2109183  1438399807937   804736  addtocart  447661       NaN
2109184  1438400010258   639019       view   47138       NaN
2109185  1438397861378   657600       view  110945       NaN
2109186  1438400133197   668517       view  120164       NaN
2109187  1438401803214  1392454       view    4148       NaN
2109188  1438398750926   865207       view  454768       NaN
2109189  1438398987844   392351       view  400896       NaN
2109190  1438398088257   887677       view  415160       NaN
2109191  1438397455397   611270       view  432925       NaN
2109192  1438400147472   831605       view   57810       NaN
2109193  1438397131078   285172       view  292352       NaN
2109194  1438399811281   804736  addtocart  346534       NaN
2109195  1438398087349   126458       view  439758       NaN
2109196  1438398473572   709520       view  104512       NaN
2109197  1438400498250   226214       view  190530       NaN
2109198  1438399289446   701750       view  296172       NaN
2109199  1438400574346   289041       view  156947       NaN
2109200  1438399813142   762376       view  115946       NaN
2109201  1438397820527  1251746       view   78144       NaN
2109202  1438398530703  1184451       view  283392       NaN
2109203  1438400163914   199536       view  152913       NaN

[2109204 rows x 5 columns]

In [24]:
test_data = retail_event_data.loc[retail_event_data.uid == 1076270].sort_values(by=["time"], ascending=True).reset_index(drop=True)
test_data

             time      uid        event  itemid  trans_id
0   1433221123646  1076270         view  269430       NaN
1   1433221805923  1076270         view   36035       NaN
2   1433221877110  1076270         view   36035       NaN
3   1433221919130  1076270         view  262799       NaN
4   1433221969799  1076270         view  240759       NaN
5   1433222104658  1076270    addtocart  269430       NaN
6   1433222132534  1076270    addtocart  262799       NaN
7   1433222147345  1076270         view  262799       NaN
8   1433222234895  1076270         view  269430       NaN
9   1433222272880  1076270         view  262799       NaN
10  1433222306083  1076270         view   36035       NaN
11  1433222323395  1076270         view  269430       NaN
12  1433222347980  1076270         view  129586       NaN
13  1433222368861  1076270         view  386160       NaN
14  1433222449099  1076270         view  269430       NaN
15  1433222473645  1076270         view   36035       NaN
16  1433222501643  1076270         view  262799       NaN
17  1433222666280  1076270         view   96028       NaN
18  1433222788421  1076270         view  232005       NaN
19  1433222862175  1076270         view   36035       NaN
20  1433222876938  1076270    addtocart   36035       NaN
21  1433223390388  1076270  transaction  262799   17277.0
22  1433223390388  1076270  transaction   36035   17277.0

# CREATE TRAIN, TEST

# Read with pandas

In [47]:
sorted_filtered_pd_df = pd.read_csv(retail_rocket_root_path + "sorted_filtered_data", header=None, names=["uid", "itemid", "time", "label"])

In [25]:
sorted_filtered_pd_df

          uid  itemid           time  label
0           0   20133  1430802384830      1
1           0     919  1432781848232      1
2           0    4244  1432782322169      1
3           0       0  1433224214164      1
4           0    2921  1433224672007      1
...       ...     ...            ...    ...
613690  36750   21591  1438403592429      1
613691  36750   21976  1438403746029      1
613692  36750   27465  1438403820763      1
613693  36750   49707  1438403914087      1
613694  36750     151  1438404173331      1

[613695 rows x 4 columns]

In [48]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
import progressbar
import scipy.sparse as sp
spark = SparkSession.builder.appName("create train, test data").getOrCreate()

- Tương tác được sắp xếp theo từng user và theo chiều tăng dần của thời gian
label = 1 -> view;
label = 2 -> add-to-cart; 
label = 3 -> purchase

In [49]:
sorted_filtered_df = spark.read.csv(retail_rocket_root_path + "sorted_filtered_data", "uid INT, itemid INT, time LONG, label INT")
sorted_filtered_df.show()

+---+------+-------------+-----+
|uid|itemid|         time|label|
+---+------+-------------+-----+
|  0| 20133|1430802384830|    1|
|  0|   919|1432781848232|    1|
|  0|  4244|1432782322169|    1|
|  0|     0|1433224214164|    1|
|  0|  2921|1433224672007|    1|
|  0|  5692|1433225555976|    1|
|  0|  6353|1433395087236|    1|
|  0|  6353|1433395158782|    1|
|  0|  6353|1433395205712|    1|
|  0| 10195|1433480149682|    1|
|  0|  9442|1433480383896|    1|
|  0|  1249|1433480524891|    1|
|  0| 10652|1433703062882|    1|
|  0| 10345|1433729380709|    1|
|  0| 10340|1433729489683|    1|
|  0| 10603|1433729786622|    1|
|  0|  9442|1433730019241|    1|
|  0|  8738|1433730231553|    1|
|  0| 13742|1433730402675|    1|
|  0| 17896|1433945313290|    1|
+---+------+-------------+-----+
only showing top 20 rows

In [50]:
print(sorted_filtered_df.count())

613695

- Record: (User, [list of (item, time, label)]) sắp xếp theo time

In [54]:
sorted_filtered_rdd = sorted_filtered_df.rdd.map(lambda x: (x[0], [(x[1], x[2], x[3])])).reduceByKey(lambda v1, v2: v1 + v2)
for i in sorted_filtered_rdd.take(4):
    print(i)

(0, [(20133, 1430802384830, 1), (919, 1432781848232, 1), (4244, 1432782322169, 1), (0, 1433224214164, 1), (2921, 1433224672007, 1), (5692, 1433225555976, 1), (6353, 1433395087236, 1), (6353, 1433395158782, 1), (6353, 1433395205712, 1), (10195, 1433480149682, 1), (9442, 1433480383896, 1), (1249, 1433480524891, 1), (10652, 1433703062882, 1), (10345, 1433729380709, 1), (10340, 1433729489683, 1), (10603, 1433729786622, 1), (9442, 1433730019241, 1), (8738, 1433730231553, 1), (13742, 1433730402675, 1), (17896, 1433945313290, 1), (17428, 1433946626515, 1), (19630, 1434035218038, 1), (20133, 1434035349084, 1), (2679, 1434035926844, 1), (10603, 1434231531446, 1), (29323, 1435014240987, 1), (8664, 1435341565477, 1), (27941, 1436197608867, 1), (6353, 1436503481324, 1), (83046, 1438273381735, 1)])
(4, [(14, 1433221123646, 1), (2504, 1433221805923, 1), (2504, 1433221877110, 1), (4, 1433221919130, 1), (1364, 1433221969799, 1), (14, 1433222104658, 2), (4, 1433222132534, 2), (4, 1433222147345, 1), (14, 1433222234895, 1), (4, 1433222272880, 1), (2504, 1433222306083, 1), (14, 1433222323395, 1), (2935, 1433222347980, 1), (2932, 1433222368861, 1), (14, 1433222449099, 1), (2504, 1433222473645, 1), (4, 1433222501643, 1), (1354, 1433222666280, 1), (1372, 1433222788421, 1), (2504, 1433222862175, 1), (2504, 1433222876938, 2), (4, 1433223390388, 3), (2504, 1433223390388, 3)])
(8, [(8, 1433224041294, 1), (8, 1433224322223, 1), (7008, 1433463361419, 1), (8724, 1433463463808, 1), (8452, 1433463535908, 1), (9132, 1433482835395, 1)])
(12, [(2922, 1433221729905, 1), (1367, 1433221755374, 1), (12, 1433222046974, 1), (1743, 1433222173072, 1), (21, 1433222291999, 1), (1992, 1433222357353, 1), (1367, 1433222485097, 1), (827, 1433222801098, 1), (19, 1433222860128, 1), (13, 1433222930873, 1), (25184, 1434599468609, 1), (2479, 1437539832176, 1), (41830, 1438146200982, 1), (531, 1438225211357, 1), (18939, 1438232248370, 1)])

- Record: (User, list of item, list of label, list of time) sắp xếp theo time

In [55]:
def list_sort(v):
    v.sort(key=lambda e: e[1])
    return v


no_time_filtered_rdd = sorted_filtered_rdd.mapValues(list_sort).mapValues(lambda v: [[e[0] for e in v], [e[2] for e in v], [e[1] for e in v]])
for i in no_time_filtered_rdd.take(1):
    print(i)

(0, [[20133, 919, 4244, 0, 2921, 5692, 6353, 6353, 6353, 10195, 9442, 1249, 10652, 10345, 10340, 10603, 9442, 8738, 13742, 17896, 17428, 19630, 20133, 2679, 10603, 29323, 8664, 27941, 6353, 83046], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [1430802384830, 1432781848232, 1432782322169, 1433224214164, 1433224672007, 1433225555976, 1433395087236, 1433395158782, 1433395205712, 1433480149682, 1433480383896, 1433480524891, 1433703062882, 1433729380709, 1433729489683, 1433729786622, 1433730019241, 1433730231553, 1433730402675, 1433945313290, 1433946626515, 1434035218038, 1434035349084, 1434035926844, 1434231531446, 1435014240987, 1435341565477, 1436197608867, 1436503481324, 1438273381735]])

In [56]:
def filter_candidate_users_for_eval(row):
    labels = row[1][1]
    if 2 in labels or 3 in labels:
        return True
    return False

eval_filtered_df = no_time_filtered_rdd.filter(filter_candidate_users_for_eval)
print(eval_filtered_df.count())

7042

In [57]:
def check_test_item(x, window_size):
    user_id = x[0]
    item_list = x[1][0] 
    label_list = x[1][1]
    time_list = x[1][2]
    
    # tính chỉ số của test item, là item có tương tác label=2 or 3 ở thời điểm gần đây nhất
    test_item_id = len(label_list) - 1
    while test_item_id >= 0:
        if label_list[test_item_id] != 1:
            break
        test_item_id -= 1
    return (user_id, [test_item_id, item_list[test_item_id], item_list, label_list, time_list])

check_test_item_df = eval_filtered_df.map(lambda x: check_test_item(x, window_size=5))
for i in check_test_item_df.take(1):
    print(i)

(4, [22, 2504, [14, 2504, 2504, 4, 1364, 14, 4, 4, 14, 4, 2504, 14, 2935, 2932, 14, 2504, 4, 1354, 1372, 2504, 2504, 4, 2504], [1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 3], [1433221123646, 1433221805923, 1433221877110, 1433221919130, 1433221969799, 1433222104658, 1433222132534, 1433222147345, 1433222234895, 1433222272880, 1433222306083, 1433222323395, 1433222347980, 1433222368861, 1433222449099, 1433222473645, 1433222501643, 1433222666280, 1433222788421, 1433222862175, 1433222876938, 1433223390388, 1433223390388]])

In [58]:
original_neg_df = spark.sparkContext.textFile("explicit.test.negative_in_server")
original_neg_df = original_neg_df.map(lambda x: x.split(")")).map(lambda x: x[0][1:].split(",") + [x[1][1:]]).map(lambda x:(int(x[0]), [int(x[1]), x[2]]))
# original_neg_df = original_neg_df.map(lambda x: x.split(")")).map(lambda x: x[0][1:].split(",")).map(lambda x:(int(x[0]), [int(x[1])]))
for i in original_neg_df.take(1):
    print(i)

(4, [2504, '15383|6979|41741|79116|53192|12932|29099|3562|57164|18277|65827|20751|15666|73745|43855|82476|17937|53721|20929|78537|12905|510|78386|52947|58858|13117|30969|19724|39966|66214|18845|1670|54707|51960|66874|68705|55350|20257|15580|24195|43069|80598|64664|20243|4374|71810|14213|4856|626|16527|27855|69911|4491|37885|78342|59521|33249|43487|77299|80704|73161|23575|16488|16916|6241|47246|58375|16950|17599|31330|12063|5110|42877|49828|44973|69659|43614|76522|73571|5816|35284|78216|47180|21679|18500|32249|9272|71110|36306|41212|520|23968|9871|38286|52557|80291|38163|16118|49313|38768|46231|53357|78822|45425|40796|37600|4000|53134|56947|19542|32312|79032|34579|6354|81460|17238|13512|39708|27612|44617|52359|66406|40072|42703|21531|11621|51837|65263|55740|45018|73312|7756|23249|19770|74465|4632|40235|62644|31763|76556|39195|4652|80992|368|60951|7598|8238|391|57620|43836|29130|60663|64475|22124|67617|32907|72019|35847|27253|34160|75183|78556|69092|41844|60212|54387|1375|20749|60620|40325|59601|21303|1113|60037|27177|43428|53609|35327|64116|58451|14154|54946|20434|28651|78642|79870|30860|70048|57965|69291|23636|63112|10951|38075|56206|2014|58629|68344|73826|77436|50005|45294|77315|81434|3332|64498|81137|72146|39308|43089|12179|29341|62732|46144|46432|63655|42285|37584|69107|75959|63409|54169|9797|50333|65664|33481|22126|29339|11399|48119|78816|3877|79977|68387|10846|47392|24485|6038|33329|13588|34721|21022|6434|32876|67169|41403|60051|11707|56005|63944|40926|42049|64899|77730|9109|8347|21778|13228|54545|38778|76050|78076|13558|63455|14609|18618|53196|48002|68708|14950|43726|9410|12679|69350|23898|50160|49107|60111|38213|72086|30340|45287|76620|77874|8250|33524|59562|1521|10625|79063|74024|3145|40120|44909|13917|48548|82857|65872|21662|76978|18784|38226|10058|14728|17431|75050|34691|80123|77626|60844|34990|16312|19044|16956|19808|13984|27812|22510|15940|1200|58114|56973|14594|68249|19709|50599|13331|25927|22340|22324|58420|19918|79227|12123|45017|3007|66512|26221|1862|50912|38867|13280|36643|40017|82264|36560|60206|55583|63602|13027|68173|16605|11904|73638|62308|47086|57701|61155|45997|51266|35873|7186|27824|63808|75005|77954|32629|7649|47865|32710|4990|412|42267|58889|19455|31666|1528|60944|45670|9973|31209|78322|11126|39496|69604|16848|48770|35800|64033|64219|72531|13762|56644|74438|74511|24905|46470|16505|70658|8664|34919|53044|60183|79739|44086|40778|78764|73845|47033|69706|38509|44984|46477|45091|23394|54700|10446|420|15330|75024|4201|58862|67092|59625|21024|43598|5150|21307|74451|42768|7977|37950|20343|10824|4441|45207|31805|2935|25135|14507|78869|80228|70707|39230|22152|43323|1102|63030|22949|47074|2223|6977|10619|15821|59932|31503|71279|60639|28397|58769|38628|58907|28847|37866|51182|22592|49774|9683|25678|2364|25317|58413|52929|1991|22568|49940|78073|9805|23422|46652|58861|21493|32045|78706|57637|46518|30928|53396|78007|32297|36416|59829|40848|38731|53019|44220|18550|53862|44550|69400|9265|81272|31207|33877|32399|62413|80820|70029|54961|61177|242|51126|37629|37375|50100|28777|10853|4702|48728|21414|29431|28525|34867|79251|69448|23148|63359|24908|79734|71415|39091|45923|49298|64903|14550|30953|24806|71768|4992|70933|74230|68193|47878|37892|61921|6419|20378|74254|43969|54772|73455|65178|43578|25954|82235|62907|19280|14658|70773|55487|11680|46551|55493|47459|28534|46259|53848|36680|6415|17281|37597|44386|6063|18851|53787|43218|32875|26030|40995|21218|11088|5165|48282|36145|25367|7558|47705|47297|12720|76605|50258|19403|77026|81210|53112|40271|22778|55625|65251|77979|4792|59115|1122|16369|53517|69460|69773|8163|31256|49148|17330|56490|16413|78767|58153|35787|72618|4982|14306|24917|53420|35535|69067|23931|13468|23767|19139|45171|72123|53178|51651|73942|63993|71429|1957|63474|12663|23092|77951|12726|32015|51180|78829|54458|7353|42810|13980|62878|34939|30503|45572|67295|67835|29962|49165|80082|1848|39587|14876|47905|74813|14431|48894|75550|27578|66188|27907|80025|48807|34202|55553|67441|74974|70631|69819|18959|11018|71033|12712|82223|56082|44155|76342|45193|55547|80879|19166|17738|8495|29843|51900|51827|398|33169|62971|36597|74051|33238|60773|59525|4542|26741|41980|19841|69535|27831|28935|69745|43556|20258|8511|10150|46128|18073|69952|50906|28283|79766|48043|2095|13402|20686|81359|75873|68732|814|62365|48121|16388|17035|37063|13441|28834|34719|41419|63005|43309|80071|17358|6898|10948|28881|35891|12817|29669|47943|57508|56210|8137|38552|75431|45969|14791|16881|75222|44875|11747|52989|62246|53305|72818|18861|65342|19737|37149|36853|8859|20555|11985|66508|48475|59375|27001|15363|65440|20546|8748|7923|61317|39954|29003|1040|52046|9735|23174|82136|67054|58212|46109|4674|4326|63316|44334|2458|45573|74058|75746|39269|22122|25003|9398|79465|21082|56893|24255|57311|65963|8862|53846|81067|26188|4389|7872|19748|4455|33150|11027|40363|47914|48920|11582|38883|67338|3908|12482|17827|13893|11865|57922|63746|11787|55354|40916|9202|77269|45412|17097|9032|71803|25491|37884|63729|16340|42802|66000|22609|2284|14421|10012|44851|35600|72432|17437|36577|46347|39609|12343|50631|76876|1996|55246|69809|16031|63244|55371|60292|9940|28906|19184|24827|2219|21061|7563|65137|30337|35702|75607|53244|82167|51299|79712|72650|27407|59248|16017|32389|56824|71638|47174|79153|23371|41332|71042|81961|81249|49161|40949|65435|74045|71894|60744|67411|58060|61115|27117|29839|37126|39776|75387|27975|53036|69853|18408|28264|21708|27271|66384|38383|81977|13951|75836|2758|59987|58440|6310|63182|75038|60401|12664|62173|32307|6955|64761|15143|50127|56301|1184|41171|996|76086|79286|54076|8800|50249|52950|24683|71816|72108|55767|29540|44681|1242|47244|62466|71771|16253|24091|25066|72435|64577|30624|30116|31790|51836|1703|3890|77437|42801|7541|38156|80066|46897|30749|38878|59504|69080|60253|56153|75238|12185|38829|31174|79294|8790|57335|621|17162|78442|2462|68753|6254|37378|77940|29372|58978|49845|13056|82253|55133'])

In [59]:
def check_fail(row):
    v_1 = row[1][0]
    v_2 = row[1][1]
    if v_1[1] != v_2[0]:
        return True
    return False

check_fail_test_item_df = check_test_item_df.join(original_neg_df)
# print(check_fail_test_item_df.count())
# fail_test_item_df = check_fail_test_item_df.filter(check_fail)
# print(fail_test_item_df.count())

# for i in fail_test_item_df.take(1):
#     print(i[0])
#     print(i[1][1][0])
#     print(i[1][0][0])
#     print(i[1][0][1])
#     for idx, j in enumerate(i[1][0][2]):
#         print(idx, j)
#     for idx, j in enumerate(i[1][0][4]):
#         print(idx, j)
#     for idx, j in enumerate(i[1][0][3]):
#         print(idx, j)

def check_weird(x):
    test_item_id = x[1][0][0]
    test_item = x[1][0][1]
    item_list = x[1][0][2]
    label_list = x[1][0][3]
    time_list = x[1][0][4]
    real_test_item = x[1][1][0]
    real_test_item_id = test_item_id
    while item_list[real_test_item_id] != real_test_item:
        if time_list[real_test_item_id] != time_list[test_item_id]:
            return True
        real_test_item_id -= 1
    if time_list[real_test_item_id] != time_list[test_item_id]:
            return True
    return False

def map_weird(x):
    user_id = x[0]
    test_item_id = x[1][0][0]
    test_item = x[1][0][1]
    item_list = x[1][0][2]
    label_list = x[1][0][3]
    time_list = x[1][0][4]
    real_test_item = x[1][1][0]
    real_test_item_id = test_item_id
    while item_list[real_test_item_id] != real_test_item:
        real_test_item_id -= 1
    item_list[real_test_item_id] = test_item
    item_list[test_item_id] = real_test_item
    tmp_label = label_list[real_test_item_id]
    label_list[real_test_item_id] = label_list[test_item_id]
    label_list[test_item_id] = tmp_label
    return (user_id, [test_item_id, item_list[test_item_id], item_list, label_list, time_list])
    
            

# weird_test_item_df = fail_test_item_df.filter(check_weird)
# print(weird_test_item_df.count())
# for i in weird_test_item_df.take(1):
#     print(i)
check_fail_test_item_df = check_fail_test_item_df.map(map_weird)
# fail_test_item_df = check_fail_test_item_df.filter(check_fail)
# print(fail_test_item_df.count())

In [60]:
def filter_explicit_before_test(x):
    user_id = x[0]
    test_item_id = x[1][0]
    test_item = x[1][1]
    item_list = x[1][2]
    label_list = x[1][3]
    time_list = x[1][4]
    check_id = test_item_id - 1
    while check_id >= 0:
        if item_list[check_id] == test_item and label_list[check_id] != 1:
            return True
        check_id -= 1
    return False

filter_ex_df = check_fail_test_item_df.filter(filter_explicit_before_test)
print(filter_ex_df.count())
for i in filter_ex_df.take(1):
    print(i)

2759
(180, [19, 2548, [2619, 1536, 2599, 1835, 1538, 1552, 1537, 1516, 847, 152, 317, 1177, 1002, 2065, 640, 2548, 2548, 2548, 2548, 2548, 2548, 1465, 1516, 1516, 1177, 1228, 1511], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1], [1433179811904, 1433179858411, 1433179889415, 1433179920763, 1433179953207, 1433179988697, 1433180016766, 1433180041295, 1433180053494, 1433180065066, 1433180085940, 1433180099587, 1433180125674, 1433180147073, 1433180853320, 1433180878654, 1433180948569, 1433181178489, 1433181204547, 1433184956036, 1433258633392, 1433258740308, 1433258768745, 1433258770326, 1433259063803, 1433259103938, 1433259225545]])

In [61]:
def remove_fake_ex(x):
    user_id = x[0]
    test_item_id = x[1][0]
    test_item = x[1][1]
    item_list = x[1][2]
    label_list = x[1][3]
    time_list = x[1][4]
    check_id = test_item_id - 1
    while check_id >= 0:
        if item_list[check_id] == test_item and label_list[check_id] != 1:
            label_list[check_id] = 1
        check_id -= 1
    return (user_id, [test_item_id, item_list[test_item_id], item_list, label_list, time_list])
final_check_fail_test_item_df = check_fail_test_item_df.map(remove_fake_ex)
filter_ex_df = final_check_fail_test_item_df.filter(filter_explicit_before_test)
print(filter_ex_df.count())
for i in filter_ex_df.take(1):
    print(i)

0

# Create train for retail rocket dataset

In [62]:
import progressbar
import scipy.sparse as sp

def load_interact_matrix(df, num_user, num_item):
    start = datetime.datetime.now()
    # Construct matrix
#     mat = sp.dok_matrix((num_user, num_item), dtype=np.bool_)
    mat = []
    for row in progressbar.ProgressBar()(df.itertuples(index=False)):
        uid, itemid = int(row[0]), int(row[1])
        mat.append((uid, itemid))
    print("time load_interact_matrix: ", datetime.datetime.now() - start)
    return mat

interact_matrix = load_interact_matrix(sorted_filtered_pd_df, len(active_user_list), len(active_item_list))
interact_matrix

| |                  #                           | 613694 Elapsed Time: 0:00:01

time load_interact_matrix:  0:00:01.869515

[(0, 20133),
 (0, 919),
 (0, 4244),
 (0, 0),
 (0, 2921),
 (0, 5692),
 (0, 6353),
 (0, 6353),
 (0, 6353),
 (0, 10195),
 (0, 9442),
 (0, 1249),
 (0, 10652),
 (0, 10345),
 (0, 10340),
 (0, 10603),
 (0, 9442),
 (0, 8738),
 (0, 13742),
 (0, 17896),
 (0, 17428),
 (0, 19630),
 (0, 20133),
 (0, 2679),
 (0, 10603),
 (0, 29323),
 (0, 8664),
 (0, 27941),
 (0, 6353),
 (0, 83046),
 (1, 2406),
 (1, 90),
 (1, 820),
 (1, 1),
 (1, 17),
 (2, 2),
 (2, 1360),
 (2, 1993),
 (2, 836),
 (2, 2929),
 (2, 1362),
 (2, 832),
 (3, 28),
 (3, 28),
 (3, 28),
 (3, 28),
 (3, 28),
 (3, 35250),
 (3, 25745),
 (3, 7817),
 (3, 25745),
 (3, 5706),
 (3, 46406),
 (3, 64218),
 (3, 6790),
 (3, 1135),
 (3, 28),
 (3, 28),
 (3, 28),
 (3, 28),
 (3, 3),
 (3, 12876),
 (3, 22973),
 (3, 9154),
 (3, 10023),
 (4, 14),
 (4, 2504),
 (4, 2504),
 (4, 4),
 (4, 1364),
 (4, 14),
 (4, 4),
 (4, 4),
 (4, 14),
 (4, 4),
 (4, 2504),
 (4, 14),
 (4, 2935),
 (4, 2932),
 (4, 14),
 (4, 2504),
 (4, 4),
 (4, 1354),
 (4, 1372),
 (4, 2504),
 (4, 2504),
 (4, 4),
 (4, 2504),
 (5, 70828),
 (5, 3314),
 (5, 11466),
 (5, 5),
 (5, 24),
 (6, 542),
 (6, 542),
 (6, 6),
 (6, 18655),
 (6, 48867),
 (6, 52027),
 (7, 2403),
 (7, 2514),
 (7, 1666),
 (7, 2507),
 (7, 7),
 (8, 8),
 (8, 8),
 (8, 7008),
 (8, 8724),
 (8, 8452),
 (8, 9132),
 (9, 71139),
 (9, 71136),
 (9, 1368),
 (9, 9),
 (9, 828),
 (10, 5037),
 (10, 5037),
 (10, 5928),
 (10, 9795),
 (10, 914),
 (10, 10),
 (10, 1986),
 (10, 920),
 (10, 1366),
 (10, 1980),
 (10, 826),
 (10, 2501),
 (10, 29),
 (10, 1355),
 (10, 1980),
 (10, 1980),
 (10, 23275),
 (10, 43836),
 (10, 43836),
 (10, 43836),
 (11, 1647),
 (11, 2841),
 (11, 11),
 (11, 2511),
 (11, 2837),
 (12, 2922),
 (12, 1367),
 (12, 12),
 (12, 1743),
 (12, 21),
 (12, 1992),
 (12, 1367),
 (12, 827),
 (12, 19),
 (12, 13),
 (12, 25184),
 (12, 2479),
 (12, 41830),
 (12, 531),
 (12, 18939),
 (13, 1458),
 (13, 502),
 (13, 3),
 (13, 502),
 (13, 41303),
 (13, 502),
 (13, 3662),
 (13, 502),
 (13, 8451),
 (13, 21156),
 (13, 21156),
 (13, 4555),
 (13, 8451),
 (13, 7214),
 (13, 502),
 (13, 502),
 (13, 502),
 (13, 502),
 (13, 71563),
 (13, 502),
 (13, 1458),
 (13, 1458),
 (13, 15),
 (13, 15),
 (13, 15),
 (13, 15),
 (13, 2907),
 (13, 2521),
 (13, 2521),
 (13, 100),
 (13, 100),
 (13, 100),
 (13, 1988),
 (13, 1981),
 (13, 1981),
 (13, 15),
 (13, 15),
 (13, 15),
 (13, 1988),
 (13, 1988),
 (13, 15),
 (13, 15),
 (13, 15),
 (13, 7437),
 (13, 7437),
 (13, 7437),
 (14, 9260),
 (14, 17511),
 (14, 19466),
 (14, 5854),
 (14, 17511),
 (14, 17511),
 (14, 17511),
 (14, 17511),
 (14, 16),
 (14, 16),
 (14, 1985),
 (14, 30118),
 (14, 887),
 (14, 887),
 (14, 4162),
 (14, 1904),
 (14, 10843),
 (14, 613),
 (14, 1370),
 (14, 1370),
 (14, 8663),
 (14, 1122),
 (14, 92),
 (14, 1365),
 (14, 6257),
 (14, 333),
 (14, 195),
 (14, 1170),
 (14, 1365),
 (14, 92),
 (14, 1645),
 (14, 2913),
 (14, 1365),
 (14, 1370),
 (14, 2913),
 (14, 1985),
 (14, 16),
 (14, 1370),
 (14, 613),
 (14, 613),
 (14, 613),
 (14, 887),
 (14, 887),
 (14, 887),
 (14, 1985),
 (14, 560),
 (15, 11903),
 (15, 7184),
 (15, 5180),
 (15, 3461),
 (15, 5180),
 (15, 7184),
 (15, 18),
 (15, 281),
 (15, 574),
 (15, 18),
 (15, 18),
 (15, 574),
 (15, 574),
 (16, 392),
 (16, 1658),
 (16, 2529),
 (16, 1359),
 (16, 1352),
 (16, 1982),
 (16, 1983),
 (16, 20),
 (17, 4323),
 (17, 2336),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 4323),
 (17, 33831),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 7210),
 (17, 22),
 (17, 83121),
 (17, 29041),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (18, 5595),
 (18, 631),
 (18, 623),
 (18, 23),
 (18, 743),
 (18, 818),
 (18, 23),
 (18, 23),
 (18, 23),
 (18, 23),
 (18, 23),
 (18, 23),
 (19, 2154),
 (19, 25),
 (19, 2927),
 (19, 2930),
 (19, 5259),
 (19, 14852),
 (19, 2927),
 (20, 150),
 (20, 26),
 (20, 3521),
 (20, 5362),
 (20, 4039),
 (21, 5298),
 (21, 13339),
 (21, 2004),
 (21, 14591),
 (21, 17096),
 (21, 17082),
 (21, 17884),
 (21, 1351),
 (21, 27),
 (21, 817),
 (22, 30),
 (22, 2879),
 (22, 1400),
 (22, 30),
 (22, 2156),
 (22, 1397),
 (23, 1380),
 (23, 78),
 (23, 78),
 (23, 31),
 (23, 2447),
 (23, 2883),
 (23, 60),
 (23, 1942),
 (24, 1970),
 (24, 44),
 (24, 772),
 (24, 1945),
 (24, 2464),
 (24, 32),
 (24, 230),
 (24, 1395),
 (24, 2857),
 (24, 2869),
 (24, 4313),
 (25, 20427),
 (25, 18604),
 (25, 10306),
 (25, 1286),
 (25, 60649),
 (25, 571),
 (25, 647),
 (25, 16931),
 (25, 1023),
 (25, 19974),
 (25, 60294),
 (25, 11970),
 (25, 11970),
 (25, 8470),
 (25, 1799),
 (25, 1613),
 (25, 15925),
 (25, 47107),
 (25, 23081),
 (25, 47107),
 (25, 7492),
 (25, 117),
 (25, 8200),
 (25, 8820),
 (25, 39626),
 (25, 39626),
 (25, 11249),
 (25, 17443),
 (25, 61818),
 (25, 61895),
 (25, 60085),
 (25, 60238),
 (25, 60238),
 (25, 26950),
 (25, 44518),
 (25, 7353),
 (25, 24025),
 (25, 7353),
 (25, 35174),
 (25, 11900),
 (25, 4260),
 (25, 16929),
 (25, 7396),
 (25, 21449),
 (25, 21191),
 (25, 12990),
 (25, 38206),
 (25, 7396),
 (25, 23236),
 (25, 60091),
 (25, 28532),
 (25, 18684),
 (25, 215),
 (25, 4176),
 (25, 60954),
 (25, 61444),
 (25, 5052),
 (25, 24789),
 (25, 21607),
 (25, 21607),
 (25, 61760),
 (25, 59874),
 (25, 5419),
 (25, 14316),
 (25, 33433),
 (25, 3587),
 (25, 60928),
 (25, 3587),
 (25, 44518),
 (25, 61756),
 (25, 11900),
 (25, 17427),
 (25, 22276),
 (25, 22276),
 (25, 22579),
 (25, 61916),
 (25, 61916),
 (25, 50071),
 (25, 12376),
 (25, 50071),
 (25, 17080),
 (25, 11443),
 (25, 35544),
 (25, 45411),
 (25, 6824),
 (25, 5298),
 (25, 3088),
 (25, 23081),
 (25, 59681),
 (25, 242),
 (25, 6649),
 (25, 318),
 (25, 64703),
 (25, 28879),
 (25, 64699),
 (25, 318),
 (25, 4358),
 (25, 49411),
 (25, 23648),
 (25, 22855),
 (25, 37463),
 (25, 47621),
 (25, 64435),
 (25, 64425),
 (25, 64435),
 (25, 64509),
 (25, 63357),
 (25, 64692),
 (25, 33513),
 (25, 33513),
 (25, 1757),
 (25, 7376),
 (25, 3131),
 (25, 1393),
 (25, 25429),
 (25, 5311),
 (25, 5311),
 (25, 1685),
 (25, 17755),
 (25, 731),
 (25, 19847),
 (25, 10588),
 (25, 54167),
 (25, 65487),
 (25, 2304),
 (25, 62643),
 (25, 2304),
 (25, 65283),
 (25, 63066),
 (25, 65780),
 (25, 19457),
 (25, 38755),
 (25, 19457),
 (25, 37797),
 (25, 19457),
 (25, 65775),
 (25, 60091),
 (25, 21066),
 (25, 13936),
 (25, 13936),
 (25, 54132),
 (25, 42214),
 (25, 42214),
 (25, 2043),
 (25, 2079),
 (25, 117),
 (25, 26854),
 (25, 25812),
 (25, 2995),
 (25, 2995),
 (25, 25812),
 (25, 117),
 (25, 18203),
 (25, 117),
 (25, 65171),
 (25, 63411),
 (25, 7016),
 (25, 7016),
 (25, 13936),
 (25, 62658),
 (25, 29703),
 (25, 65605),
 (25, 65605),
 (25, 65899),
 (25, 18679),
 (25, 65605),
 (25, 65576),
 (25, 65764),
 (25, 37355),
 (25, 58631),
 (25, 58631),
 (25, 55723),
 (25, 28990),
 (25, 42110),
 (25, 57335),
 (25, 39065),
 (25, 9456),
 (25, 60768),
 (25, 9422),
 (25, 62658),
 (25, 60801),
 (25, 12234),
 (25, 12234),
 (25, 60801),
 (25, 55676),
 (25, 43555),
 (25, 23228),
 (25, 16184),
 (25, 44846),
 (25, 65605),
 (25, 65333),
 (25, 33686),
 (25, 13905),
 (25, 67070),
 (25, 15986),
 (25, 15986),
 (25, 716),
 (25, 19020),
 (25, 716),
 (25, 15986),
 (25, 8510),
 (25, 19647),
 (25, 27162),
 (25, 27162),
 (25, 77),
 (25, 18373),
 (25, 7522),
 (25, 14631),
 (25, 22258),
 (25, 22258),
 (25, 5205),
 (25, 5048),
 (25, 7725),
 (25, 52729),
 (25, 10935),
 (25, 67128),
 (25, 67239),
 (25, 11889),
 (25, 11863),
 (25, 47484),
 (25, 66076),
 (25, 9814),
 (25, 58631),
 (25, 24528),
 (25, 42110),
 (25, 55676),
 (25, 3282),
 (25, 28077),
 (25, 61068),
 (25, 55676),
 (25, 3282),
 (25, 24245),
 (25, 1250),
 (25, 24245),
 (25, 1250),
 (25, 10228),
 (25, 13335),
 (25, 67763),
 (25, 117),
 (25, 8200),
 (25, 117),
 (25, 26854),
 (25, 23167),
 (25, 66741),
 (25, 65073),
 (25, 67319),
 (25, 48260),
 (25, 60801),
 (25, 12234),
 (25, 60801),
 (25, 60681),
 (25, 1470),
 (25, 623),
 (25, 65286),
 (25, 77),
 (25, 37399),
 (25, 38116),
 (25, 2189),
 (25, 66778),
 (25, 27127),
 (25, 66369),
 (25, 938),
 (25, 4627),
 (25, 45789),
 (25, 5714),
 (25, 43474),
 (25, 43474),
 (25, 6780),
 (25, 2966),
 (25, 66874),
 (25, 26967),
 (25, 23821),
 (25, 8170),
 (25, 23821),
 (25, 33551),
 (25, 33551),
 (25, 33551),
 (25, 67397),
 (25, 8403),
 (25, 6905),
 (25, 52),
 (25, 6940),
 (25, 6033),
 (25, 30639),
 (25, 6940),
 (25, 6033),
 (25, 32169),
 (25, 64427),
 (25, 32169),
 (25, 27127),
 (25, 31089),
 (25, 31089),
 (25, 10324),
 (25, 67110),
 (25, 10746),
 (25, 67110),
 (25, 26533),
 (25, 26533),
 (25, 58123),
 (25, 42315),
 (25, 58123),
 (25, 38623),
 (25, 29188),
 (25, 63066),
 (25, 67713),
 (25, 63066),
 (25, 523),
 (25, 29188),
 (25, 23350),
 (25, 23350),
 (25, 23582),
 (25, 301),
 (25, 7823),
 (25, 43217),
 (25, 3939),
 (25, 202),
 (25, 3164),
 (25, 41299),
 (25, 42489),
 (25, 1656),
 (25, 68302),
 (25, 9113),
 (25, 9022),
 (25, 1626),
 (25, 25557),
 (25, 25557),
 (25, 13575),
 (25, 1626),
 (25, 3122),
 (25, 8326),
 (25, 3803),
 (25, 4742),
 (25, 3803),
 (25, 868),
 (25, 56843),
 (25, 65655),
 (25, 65784),
 (25, 452),
 (25, 6476),
 (25, 24604),
 (25, 6476),
 (25, 1751),
 (25, 61954),
 (25, 16057),
 (25, 16057),
 (25, 14588),
 (25, 2172),
 (25, 2225),
 (25, 28252),
 (25, 8403),
 (25, 8403),
 (25, 9542),
 (25, 30836),
 (25, 20940),
 (25, 18583),
 (25, 9149),
 (25, 54563),
 (25, 54563),
 (25, 34434),
 (25, 2051),
 (25, 8234),
 (25, 6050),
 (25, 4941),
 (25, 9047),
 (25, 18316),
 (25, 28436),
 (25, 26816),
 (25, 32169),
 (25, 67522),
 (25, 31494),
 (25, 48876),
 (25, 39889),
 (25, 39889),
 (25, 9102),
 (25, 31494),
 (25, 37672),
 (25, 37672),
 (25, 24031),
 (25, 20099),
 (25, 36113),
 (25, 14231),
 (25, 12231),
 (25, 37672),
 (25, 7164),
 (25, 9047),
 (25, 9047),
 (25, 7016),
 (25, 46437),
 (25, 40395),
 (25, 24240),
 (25, 24240),
 (25, 32454),
 (25, 6598),
 (25, 16057),
 (25, 8617),
 (25, 2956),
 (25, 3225),
 (25, 17327),
 (25, 50161),
 (25, 868),
 (25, 3882),
 (25, 6390),
 (25, 8045),
 (25, 13146),
 (25, 70315),
 (25, 3861),
 (25, 70346),
 (25, 70346),
 (25, 10043),
 (25, 12559),
 (25, 6052),
 (25, 344),
 (25, 13291),
 (25, 70705),
 (25, 582),
 (25, 4230),
 (25, 4230),
 (25, 4230),
 (25, 4230),
 (25, 5841),
 (25, 8874),
 (25, 5841),
 (25, 8874),
 (25, 17622),
 (25, 1256),
 (25, 248),
 (25, 40226),
 (25, 65984),
 (25, 65984),
 (25, 50161),
 (25, 40523),
 (25, 40523),
 (25, 1820),
 (25, 1620),
 (25, 3022),
 (25, 3022),
 (25, 1847),
 (25, 2019),
 (25, 3950),
 (25, 13814),
 (25, 28117),
 (25, 25827),
 (25, 678),
 (25, 5017),
 (25, 10420),
 (25, 6215),
 (25, 1505),
 (25, 1505),
 (25, 1505),
 (25, 876),
 (25, 876),
 (25, 385),
 (25, 1331),
 (25, 460),
 (25, 1951),
 (25, 1951),
 (25, 1419),
 (25, 1386),
 (25, 2863),
 (25, 1386),
 (25, 1386),
 (25, 2876),
 (25, 1390),
 (25, 33),
 (25, 33),
 (25, 73),
 (25, 796),
 (25, 39),
 (25, 796),
 (25, 1181),
 (25, 2093),
 (25, 1181),
 (25, 590),
 (25, 590),
 (25, 1211),
 (25, 1191),
 (25, 1779),
 (25, 417),
 (25, 2990),
 (25, 1855),
 (25, 876),
 (25, 267),
 (25, 1658),
 (25, 1095),
 (25, 4953),
 (25, 3072),
 (25, 3502),
 (25, 3582),
 (25, 4402),
 (25, 3582),
 (25, 3582),
 (25, 3572),
 (25, 916),
 (25, 541),
 (25, 3484),
 (25, 3470),
 (25, 726),
 (25, 5617),
 (25, 3888),
 (25, 3888),
 (25, 5809),
 (25, 4494),
 (25, 3832),
 (25, 3832),
 (25, 3832),
 (25, 5809),
 (25, 2945),
 (25, 390),
 (25, 6362),
 (25, 6522),
 (25, 655),
 (25, 3705),
 (25, 3764),
 (25, 6896),
 (25, 2629),
 (25, 6363),
 (25, 6450),
 (25, 6450),
 (25, 6450),
 (25, 6450),
 (25, 2263),
 (25, 6450),
 (25, 8020),
 ...]

In [63]:
interact_matrix_bcast = spark.sparkContext.broadcast(interact_matrix)
interact_matrix_bcast

In [64]:
if (0, 20133) in interact_matrix:
    print(True)

True

In [65]:
import random
def build_train(x, window_size, interact_matrix, num_item):
    
    '''
    Tạo một list gồm s phần tử mà user "uid" chưa tương tác bao giờ
    '''
    def get_neg_list(uid, s):
        neg_list = []
        for _ in range(s):
            j = random.randrange(num_item)
            while (uid, j) in interact_matrix:
                j = random.randrange(num_item)
            neg_list.append(j)
        return neg_list
    
    res = []
    user_id = x[0]
    item_list = x[1][0] 
    label_list = x[1][1] 
    
    # tính chỉ số của test item, là item có tương tác label=2 or 3 ở thời điểm gần đây nhất.   
    test_item_id = len(label_list) - 1
    while test_item_id >= 0:
        if label_list[test_item_id] != 1:
            break
        test_item_id -= 1
        
    # Đối với những record chỉ có label = 1
    if test_item_id < 0:
        for i in range(len(item_list)):
            if i < window_size:
                t = (
                    user_id,
                    [
                     (window_size - i) * [-1] + item_list[:i], 
                     (window_size - i) * [-1] + get_neg_list(user_id, i), 
                     item_list[i],
                     label_list[i]
                    ])
            else:
                t = (
                    user_id, 
                    [
                     item_list[i - window_size:i], 
                     get_neg_list(user_id, window_size), 
                     item_list[i],
                     label_list[i]
                    ])
            res.append(t)
            
    # Đối với những record có label = 2 or 3
    else:
        # Tạo dữ liệu cho tập training, tính đến item ngay trước test item
        for i in range(test_item_id):
            if i < window_size:
                t = (
                    user_id, 
                    [
                     (window_size - i) * [-1] + item_list[:i], 
                     (window_size - i) * [-1] + get_neg_list(user_id, i), 
                     item_list[i],
                     label_list[i]
                    ])
            else:
                t = (
                    user_id, 
                     [
                     item_list[i - window_size:i], 
                     get_neg_list(user_id, window_size), 
                     item_list[i],
                     label_list[i]
                     ])
            res.append(t)
        
        # Tạo dữ liệu cho tập training, tính từ item ngay sau test item
        new_start_point = test_item_id + 1
        for i in range(new_start_point, len(item_list)):
            j = i - new_start_point
            if j < window_size:
                t = (
                    user_id,
                    [
                     (window_size - j) * [-1] + item_list[new_start_point:i], 
                     (window_size - j) * [-1] + get_neg_list(user_id, j), 
                     item_list[i],
                     label_list[i]
                    ])
            else:
                t = (
                    user_id,
                    [
                     item_list[i - window_size:i], 
                     get_neg_list(user_id, window_size), 
                     item_list[i],
                     label_list[i]
                    ])
            res.append(t)
    return res

In [66]:
from pyspark import StorageLevel
def get_real_label(x):
    user_id = x[0]
    if x[1][1] is None:
        item_list = x[1][0][0]
        label_list = x[1][0][1]
        time_list = x[1][0][2]
    else:
        item_list = x[1][1][2]
        label_list = x[1][1][3]
        time_list = x[1][1][4]
    return (user_id, [item_list, label_list, time_list])

num_item = len(active_item_list)
final_train_rdd = no_time_filtered_rdd \
                .leftOuterJoin(final_check_fail_test_item_df) \
                .map(get_real_label) \
                .repartition(8) \
                .persist(StorageLevel.MEMORY_AND_DISK)
                
for m in final_train_rdd.take(5):
    print(m)

(400, [[5051, 65358, 67160, 5920, 32027, 8845, 2142, 913, 68049, 1261, 1261, 770, 3185, 2709, 2091, 2983, 2487, 10413, 77501, 5771], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [1430934729695, 1431627278233, 1431974533249, 1431975096134, 1431975122713, 1431975374499, 1431975380753, 1431975382894, 1432140148026, 1432230754385, 1433193949665, 1433194490917, 1433195422865, 1433196555572, 1433198427998, 1433200430433, 1433202002987, 1436979039708, 1437089546631, 1440805375746]])
(420, [[4735, 6333, 4735, 4735, 4735, 4735, 4735, 4735, 1139, 839, 2187, 25745, 7817, 25745, 468, 1470, 917, 917, 917, 78, 78, 78, 823, 332], [1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [1432599815427, 1432600053334, 1432600157869, 1432612045174, 1432612088968, 1432614738438, 1432615352983, 1432617131375, 1432930921122, 1432931075716, 1432931162607, 1432931213473, 1432931297422, 1432931618261, 1433135692712, 1433135735240, 1433135884410, 1433135959689, 1433136327592, 1433136898888, 1433136970772, 1433137125172, 1433223766808, 1433271269493]])
(440, [[861, 6452, 3289, 14801, 79404, 15771, 47612, 47891, 871], [1, 1, 1, 1, 1, 1, 1, 1, 1], [1433173634023, 1433435815670, 1433864328185, 1434055908239, 1437507229271, 1439994908031, 1440007730785, 1440009266467, 1440012763285]])
(460, [[43487, 43487, 458, 933, 458, 621, 621, 621, 621, 621, 458, 621, 621, 621, 621, 621, 6239, 11785, 6660, 621], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1], [1433137190165, 1433137761838, 1433138783496, 1433138954457, 1433381830750, 1433382000171, 1433382170753, 1433382212050, 1433382225300, 1433382365148, 1433990544642, 1433990601097, 1433990640118, 1433990947212, 1433991002874, 1433991012747, 1433991837668, 1433992081498, 1433992158080, 1433992304964]])
(480, [[1590, 1900, 1590, 993, 1590, 1330, 1900, 1330, 993, 1330, 1330, 1892, 1863, 1892], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [1433183792714, 1433183865452, 1433183880371, 1433183896964, 1433183906879, 1433184918708, 1433184956710, 1433184968029, 1433184990738, 1433185007898, 1433185018402, 1433185104670, 1433185127609, 1433185141270]])

In [67]:
final_train_df = final_train_rdd \
        .flatMap(lambda x: build_train(x, 5, interact_matrix_bcast.value, num_item)) \
        .map(lambda x: (x[0], json.dumps(x[1][0]), json.dumps(x[1][1]), x[1][2], x[1][3])) \
        .toDF(["user_id", "last_item_ids", "last_item_ids_neg", "target_item_id", "target_label"])
final_train_df.show(truncate=False)

+-------+---------------------------------+-----------------------------------+--------------+------------+
|user_id|last_item_ids                    |last_item_ids_neg                  |target_item_id|target_label|
+-------+---------------------------------+-----------------------------------+--------------+------------+
|400    |[-1, -1, -1, -1, -1]             |[-1, -1, -1, -1, -1]               |5051          |1           |
|400    |[-1, -1, -1, -1, 5051]           |[-1, -1, -1, -1, 10172]            |65358         |1           |
|400    |[-1, -1, -1, 5051, 65358]        |[-1, -1, -1, 13401, 19965]         |67160         |1           |
|400    |[-1, -1, 5051, 65358, 67160]     |[-1, -1, 71983, 40638, 38086]      |5920          |1           |
|400    |[-1, 5051, 65358, 67160, 5920]   |[-1, 7771, 19261, 79771, 12166]    |32027         |1           |
|400    |[5051, 65358, 67160, 5920, 32027]|[15897, 69715, 74695, 47714, 41124]|8845          |1           |
|400    |[65358, 67160, 5920, 32027, 8845]|[15838, 50634, 53419, 1760, 33179] |2142          |1           |
|400    |[67160, 5920, 32027, 8845, 2142] |[17145, 62470, 24911, 42902, 14332]|913           |1           |
|400    |[5920, 32027, 8845, 2142, 913]   |[69357, 48368, 34597, 59617, 30308]|68049         |1           |
|400    |[32027, 8845, 2142, 913, 68049]  |[76878, 7830, 49264, 11872, 43278] |1261          |1           |
|400    |[8845, 2142, 913, 68049, 1261]   |[44492, 7588, 18478, 49241, 78561] |1261          |1           |
|400    |[2142, 913, 68049, 1261, 1261]   |[43410, 80175, 73065, 20487, 69152]|770           |1           |
|400    |[913, 68049, 1261, 1261, 770]    |[51118, 76223, 75901, 28783, 40968]|3185          |1           |
|400    |[68049, 1261, 1261, 770, 3185]   |[185, 40156, 10299, 16301, 67409]  |2709          |1           |
|400    |[1261, 1261, 770, 3185, 2709]    |[59898, 55144, 77686, 43759, 61612]|2091          |1           |
|400    |[1261, 770, 3185, 2709, 2091]    |[10904, 5745, 78627, 13837, 19867] |2983          |1           |
|400    |[770, 3185, 2709, 2091, 2983]    |[64253, 28668, 30982, 14449, 76958]|2487          |1           |
|400    |[3185, 2709, 2091, 2983, 2487]   |[19616, 672, 68986, 38034, 65969]  |10413         |1           |
|400    |[2709, 2091, 2983, 2487, 10413]  |[14632, 57252, 37227, 71793, 62410]|77501         |1           |
|400    |[2091, 2983, 2487, 10413, 77501] |[53021, 3684, 67899, 1793, 70378]  |5771          |1           |
+-------+---------------------------------+-----------------------------------+--------------+------------+
only showing top 20 rows

In [68]:
final_train_df.coalesce(1).write.mode("overwrite").csv("dien_train_data", quote="|", quoteAll=True)

# Create test for retail rocket

In [76]:
import json
def build_test(x, window_size):
    user_id = x[0]
    test_item_id = x[1][0]
    test_item = x[1][1]
    item_list = x[1][2]
    label_list = x[1][3]
    time_list = x[1][4]
    
    if test_item_id < window_size:
        t = (
            user_id, 
            [
                (window_size - test_item_id) * [-1] + item_list[:test_item_id],
                item_list[test_item_id],
                label_list[test_item_id]
            ])
    else:
        t = (
            user_id, 
            [
                item_list[test_item_id - window_size:test_item_id], 
                item_list[test_item_id], 
                label_list[test_item_id]
            ])
    return t

In [78]:

final_neg_and_test_df = final_check_fail_test_item_df \
.map(lambda x: build_test(x, window_size=5)).join(original_neg_df) \
.map(lambda x: str(x[0]) + "|" + json.dumps(x[1][0][0]) + "|" + str(x[1][0][1]) + "|" + str(x[1][0][2]) + "|" + x[1][1][1])
for i in final_neg_and_test_df.take(1):
    print(i)

48|[22710, 24834, 24625, 24625, 24625]|19911|2|50597|28293|12634|16223|36861|65307|13843|23822|50778|38072|75421|11317|40895|6705|1419|77773|35077|34054|21990|6619|30407|60015|38121|38062|50912|68290|47435|61459|3320|26958|45870|77623|70376|22583|79575|46329|23341|48696|81196|70219|78906|73866|26082|21998|54840|79350|45330|19973|8384|62433|1891|5365|64636|74085|34167|68723|68079|27630|51193|73911|66537|65010|25212|20317|81696|24296|46159|67453|18981|18817|45200|25151|69064|12009|22773|11276|55940|42788|26108|32017|82411|72219|31752|15724|51591|27600|67113|64706|44369|8746|69275|15452|73738|41784|37373|22466|72728|60866|13291|62230|76660|57672|77494|42170|70426|11607|80587|547|25808|65465|28014|5006|43135|50749|28922|40231|63131|9113|50657|7732|67007|23533|80234|8516|47029|82747|73279|77457|44138|55858|60186|2142|20763|73572|65950|48924|17319|1671|6176|53225|62819|59769|906|40110|51396|32328|16023|22867|29731|80683|76070|39317|7012|17892|35332|16508|8963|17398|2767|60575|29173|13088|56454|52895|38666|79894|54193|39663|40588|74758|72696|19577|53694|35590|2731|77227|51281|7111|4810|69642|73466|63871|81203|62580|60431|39090|22752|52590|30290|12621|58626|21200|14526|47666|45853|2760|5312|7221|68685|11504|31691|24915|46394|81040|45615|21568|9431|74625|80813|59248|61109|15518|9760|66272|15181|83057|51363|44357|38580|55567|3069|18558|27363|7497|32649|48088|17759|7752|54049|79274|24163|57710|60423|4509|57861|71642|78175|33248|35678|63819|69690|44399|45799|9136|70011|63832|8920|49043|47|32051|79586|22071|26879|13959|19404|63401|33170|22167|54221|51826|75071|37107|78341|31331|40080|6942|49334|24989|81078|38950|39335|8863|27480|5189|73884|50472|960|65936|44536|36099|15266|2338|50406|72630|30344|50497|52347|44169|64893|5238|34590|62401|11608|26686|24958|73449|33673|10925|5677|19786|50418|38315|36467|8361|6709|37327|2997|8986|11131|32|59490|56356|8933|28752|5649|67304|65412|55086|63287|21206|65208|57410|47200|22507|24531|63079|24140|32974|34248|56435|29248|17054|60417|31061|3773|67575|13528|20266|20175|54551|57772|20570|38403|12576|24219|6879|28555|82281|48312|44592|39457|7525|63244|38670|77668|68552|27528|60116|51742|55040|25335|63330|11259|80388|76781|76793|47357|51575|66658|57798|57078|67331|28998|74782|40381|31007|17333|67551|46478|34373|28022|19583|54734|45086|29455|61595|73858|72284|15352|42291|37113|81913|81110|7330|59074|76326|53591|5981|45655|57840|30860|10149|59072|76632|45837|4605|31957|52790|39520|59354|8318|70041|4265|41999|14749|2140|40770|82210|22237|18383|68623|54303|7040|19981|71499|12088|23934|56114|79699|65659|35224|71276|57512|38898|59693|72503|69463|67028|55965|3723|23663|54084|2004|38216|34738|73778|52907|1781|69169|30004|43736|18972|69454|8480|38930|5290|16464|430|47113|33430|62930|45368|42355|71853|44927|16540|38889|50121|26090|33734|39828|4478|12388|17327|65237|58576|82696|82111|42402|66634|3724|79767|77358|80512|44792|52020|20638|73051|73864|77310|33198|71454|37996|82396|13694|17878|28838|82982|59586|44811|10272|6302|5791|27386|15746|31930|24509|56328|61896|3968|27120|10255|24104|11424|56361|73096|4437|55988|83061|12454|11336|78062|12337|50383|11918|72265|40713|67605|5410|34575|71824|54641|58397|31005|82643|47504|32943|46199|23087|13132|55979|2212|55119|39680|53575|41945|17697|46565|67066|31609|27967|15278|49011|52279|71095|22686|8865|28248|49646|61446|82162|26020|32475|26220|61717|32889|70734|74773|17334|76839|59502|74972|3352|16289|5636|48397|74835|45155|2429|5380|53348|1023|51104|53736|130|80317|76094|59313|25559|50732|46639|9399|51383|27819|45192|5178|38994|13640|36469|46214|44866|13968|35500|14812|1332|48984|71057|31906|34717|58194|55430|80640|39232|81597|79509|13548|21634|67238|9576|38542|60608|5485|59580|5136|4739|63842|13372|32806|39260|17903|81049|36349|17789|65127|62755|42971|58818|28224|44035|23538|55258|7091|38069|12130|33607|28624|43281|57328|6005|79518|13421|57915|63789|14565|67843|13985|38018|58448|62691|38003|47619|5129|55894|42717|7708|60034|8538|51185|21102|28604|28627|25344|71760|67081|24057|67718|35113|1163|39010|76716|13569|60047|44268|37784|72673|66849|78004|41121|26726|73857|1275|54784|81434|30273|62924|80809|10614|32701|49891|3794|36743|40661|58636|1304|50918|78530|39597|74546|72664|15657|67067|47015|81643|17672|40083|54363|8047|35220|10757|41964|58646|50310|77252|46937|48416|53279|2750|70249|77394|10113|81418|11022|28262|44833|31242|29267|6330|68993|27707|75170|17194|35804|15287|69335|21652|20307|48147|78841|81132|26947|28191|58648|3732|7057|44050|55565|72973|53170|64045|27903|7953|40700|69007|7345|13047|1596|8370|48368|37292|7816|49901|38356|40032|78507|11441|36513|71615|38161|58567|55469|20812|34301|45202|78645|42455|29950|34260|73623|30596|47487|58892|56764|2456|77084|55493|31608|76267|81010|1936|35474|20420|73729|62818|68234|7083|30675|27524|13782|64412|58420|38652|27146|38979|56906|74535|7808|79770|53476|77178|55851|22864|74977|47660|15952|67111|70554|75462|63400|76029|24000|73405|80567|47847|48852|55033|1765|55522|31665|73481|5589|56298|76892|83249|81865|37720|24218|60183|25831|12877|8771|49944|45924|18482|43357|77970|38571|80577|60973|33342|70516|72001|77365|36247|82074|74713|39762|47902|82139|39815|34736|55504|6132|57023|48202|22529|10806|10624|72697|36053|78817|56639|71350|65821|82386|39336|34933|12030|83139|60985|65026|4343|45898|14905|68351|29565|1693|2243|82467|4754|29875|28047|74807|38386|6681|15789|8525|46918|11776|47251|57246|44906|77440|54575|16266|17093|69575|77261|27666|33964|83104|10066|52233|74666|8995|59276|70401|12844|38796|29476|37704|26022|33307|64041|82236|73682|56915|71874|6230|16009|3167|8103|10352|30988|5150|74884|64155|9327|58333|23291|43176|74712|15000|27851|69530|77119|71545|79314|79092|74661|53232|16569|26673|58323|21881|36460|81988|51665|50067|80912|1229|37412|138|61079|13365|3550|5873|9546|16159|28129|23996|83137|36088|2378|65874|66749|56922|18551|17559|27854|83179|66276|58961|75047|19891|1358|40999|12049|67464|16693

In [79]:
final_neg_and_test_df.coalesce(1).saveAsTextFile("dien")

In [81]:
t_df = spark.sparkContext.textFile("dien")
print(t_df.count())
for i in t_df.take(1):
    print(i)

7042
48|[22710, 24834, 24625, 24625, 24625]|19911|2|50597|28293|12634|16223|36861|65307|13843|23822|50778|38072|75421|11317|40895|6705|1419|77773|35077|34054|21990|6619|30407|60015|38121|38062|50912|68290|47435|61459|3320|26958|45870|77623|70376|22583|79575|46329|23341|48696|81196|70219|78906|73866|26082|21998|54840|79350|45330|19973|8384|62433|1891|5365|64636|74085|34167|68723|68079|27630|51193|73911|66537|65010|25212|20317|81696|24296|46159|67453|18981|18817|45200|25151|69064|12009|22773|11276|55940|42788|26108|32017|82411|72219|31752|15724|51591|27600|67113|64706|44369|8746|69275|15452|73738|41784|37373|22466|72728|60866|13291|62230|76660|57672|77494|42170|70426|11607|80587|547|25808|65465|28014|5006|43135|50749|28922|40231|63131|9113|50657|7732|67007|23533|80234|8516|47029|82747|73279|77457|44138|55858|60186|2142|20763|73572|65950|48924|17319|1671|6176|53225|62819|59769|906|40110|51396|32328|16023|22867|29731|80683|76070|39317|7012|17892|35332|16508|8963|17398|2767|60575|29173|13088|56454|52895|38666|79894|54193|39663|40588|74758|72696|19577|53694|35590|2731|77227|51281|7111|4810|69642|73466|63871|81203|62580|60431|39090|22752|52590|30290|12621|58626|21200|14526|47666|45853|2760|5312|7221|68685|11504|31691|24915|46394|81040|45615|21568|9431|74625|80813|59248|61109|15518|9760|66272|15181|83057|51363|44357|38580|55567|3069|18558|27363|7497|32649|48088|17759|7752|54049|79274|24163|57710|60423|4509|57861|71642|78175|33248|35678|63819|69690|44399|45799|9136|70011|63832|8920|49043|47|32051|79586|22071|26879|13959|19404|63401|33170|22167|54221|51826|75071|37107|78341|31331|40080|6942|49334|24989|81078|38950|39335|8863|27480|5189|73884|50472|960|65936|44536|36099|15266|2338|50406|72630|30344|50497|52347|44169|64893|5238|34590|62401|11608|26686|24958|73449|33673|10925|5677|19786|50418|38315|36467|8361|6709|37327|2997|8986|11131|32|59490|56356|8933|28752|5649|67304|65412|55086|63287|21206|65208|57410|47200|22507|24531|63079|24140|32974|34248|56435|29248|17054|60417|31061|3773|67575|13528|20266|20175|54551|57772|20570|38403|12576|24219|6879|28555|82281|48312|44592|39457|7525|63244|38670|77668|68552|27528|60116|51742|55040|25335|63330|11259|80388|76781|76793|47357|51575|66658|57798|57078|67331|28998|74782|40381|31007|17333|67551|46478|34373|28022|19583|54734|45086|29455|61595|73858|72284|15352|42291|37113|81913|81110|7330|59074|76326|53591|5981|45655|57840|30860|10149|59072|76632|45837|4605|31957|52790|39520|59354|8318|70041|4265|41999|14749|2140|40770|82210|22237|18383|68623|54303|7040|19981|71499|12088|23934|56114|79699|65659|35224|71276|57512|38898|59693|72503|69463|67028|55965|3723|23663|54084|2004|38216|34738|73778|52907|1781|69169|30004|43736|18972|69454|8480|38930|5290|16464|430|47113|33430|62930|45368|42355|71853|44927|16540|38889|50121|26090|33734|39828|4478|12388|17327|65237|58576|82696|82111|42402|66634|3724|79767|77358|80512|44792|52020|20638|73051|73864|77310|33198|71454|37996|82396|13694|17878|28838|82982|59586|44811|10272|6302|5791|27386|15746|31930|24509|56328|61896|3968|27120|10255|24104|11424|56361|73096|4437|55988|83061|12454|11336|78062|12337|50383|11918|72265|40713|67605|5410|34575|71824|54641|58397|31005|82643|47504|32943|46199|23087|13132|55979|2212|55119|39680|53575|41945|17697|46565|67066|31609|27967|15278|49011|52279|71095|22686|8865|28248|49646|61446|82162|26020|32475|26220|61717|32889|70734|74773|17334|76839|59502|74972|3352|16289|5636|48397|74835|45155|2429|5380|53348|1023|51104|53736|130|80317|76094|59313|25559|50732|46639|9399|51383|27819|45192|5178|38994|13640|36469|46214|44866|13968|35500|14812|1332|48984|71057|31906|34717|58194|55430|80640|39232|81597|79509|13548|21634|67238|9576|38542|60608|5485|59580|5136|4739|63842|13372|32806|39260|17903|81049|36349|17789|65127|62755|42971|58818|28224|44035|23538|55258|7091|38069|12130|33607|28624|43281|57328|6005|79518|13421|57915|63789|14565|67843|13985|38018|58448|62691|38003|47619|5129|55894|42717|7708|60034|8538|51185|21102|28604|28627|25344|71760|67081|24057|67718|35113|1163|39010|76716|13569|60047|44268|37784|72673|66849|78004|41121|26726|73857|1275|54784|81434|30273|62924|80809|10614|32701|49891|3794|36743|40661|58636|1304|50918|78530|39597|74546|72664|15657|67067|47015|81643|17672|40083|54363|8047|35220|10757|41964|58646|50310|77252|46937|48416|53279|2750|70249|77394|10113|81418|11022|28262|44833|31242|29267|6330|68993|27707|75170|17194|35804|15287|69335|21652|20307|48147|78841|81132|26947|28191|58648|3732|7057|44050|55565|72973|53170|64045|27903|7953|40700|69007|7345|13047|1596|8370|48368|37292|7816|49901|38356|40032|78507|11441|36513|71615|38161|58567|55469|20812|34301|45202|78645|42455|29950|34260|73623|30596|47487|58892|56764|2456|77084|55493|31608|76267|81010|1936|35474|20420|73729|62818|68234|7083|30675|27524|13782|64412|58420|38652|27146|38979|56906|74535|7808|79770|53476|77178|55851|22864|74977|47660|15952|67111|70554|75462|63400|76029|24000|73405|80567|47847|48852|55033|1765|55522|31665|73481|5589|56298|76892|83249|81865|37720|24218|60183|25831|12877|8771|49944|45924|18482|43357|77970|38571|80577|60973|33342|70516|72001|77365|36247|82074|74713|39762|47902|82139|39815|34736|55504|6132|57023|48202|22529|10806|10624|72697|36053|78817|56639|71350|65821|82386|39336|34933|12030|83139|60985|65026|4343|45898|14905|68351|29565|1693|2243|82467|4754|29875|28047|74807|38386|6681|15789|8525|46918|11776|47251|57246|44906|77440|54575|16266|17093|69575|77261|27666|33964|83104|10066|52233|74666|8995|59276|70401|12844|38796|29476|37704|26022|33307|64041|82236|73682|56915|71874|6230|16009|3167|8103|10352|30988|5150|74884|64155|9327|58333|23291|43176|74712|15000|27851|69530|77119|71545|79314|79092|74661|53232|16569|26673|58323|21881|36460|81988|51665|50067|80912|1229|37412|138|61079|13365|3550|5873|9546|16159|28129|23996|83137|36088|2378|65874|66749|56922|18551|17559|27854|83179|66276|58961|75047|19891|1358|40999|12049|67464|16693

# Note:
    - Mã hóa cho dữ liệu recobell

In [37]:
clean_implicit_data = pd.read_csv(recobell_root_path + '_implicit.clean.txt', header=None, names=['uid', 'itemid', 'time', "label"])

In [38]:
clean_implicit_data.loc[clean_implicit_data.uid == "c6a054f"].sort_values(by=["time"], ascending=True)

             uid   itemid        time  label
3388857  c6a054f  e3f96d5  1470642786      1
3388855  c6a054f  b048538  1470642942      1
3388287  c6a054f  2632f46  1470643059      1
3388856  c6a054f  e1f5cd4  1470643521      1
3388288  c6a054f  6ac9989  1470643600      1

In [39]:
clean_explicit_data = pd.read_csv(recobell_root_path + '_explicit.clean.txt', header=None, names=['uid', 'itemid', 'time', "label"])

In [40]:
clean_explicit_data

            uid   itemid        time  label
0       7e525ea  430ae4b  1470794116      2
1       c6a054f  b048538  1470643815      2
2       c6a054f  e1f5cd4  1470643815      2
3       c6a054f  c6df445  1470643815      2
4       1afa4ea  b1c6d74  1470989514      2
...         ...      ...         ...    ...
360501  578675f  90c1690  1471048488      2
360502  5f41838  74f0d91  1470997994      2
360503  101b0d6  a7881b3  1470722569      2
360504  40b4a5a  c05af1d  1470716292      2
360505  89a8d3d  489b0c5  1470808680      2

[360506 rows x 4 columns]

In [41]:
clean_explicit_data.loc[clean_explicit_data.uid == "c6a054f"].sort_values(by=["time"], ascending=True)

        uid   itemid        time  label
1   c6a054f  b048538  1470643815      2
2   c6a054f  e1f5cd4  1470643815      2
3   c6a054f  c6df445  1470643815      2
15  c6a054f  1a0d6aa  1470643815      2
16  c6a054f  a203c8c  1470643815      2

In [17]:
with open(recobell_root_path + 'i2index.txt') as f:
    active_item_dict = {str(line.split(',')[0]): int(line.split(',')[1]) for line in f}
active_item_list = active_item_dict.keys()
print(len(active_item_list))

118293

In [18]:
with open(recobell_root_path + 'u2index.txt') as f:
    active_user_dict = {str(line.split(',')[0]): int(line.split(',')[1]) for line in f}
active_user_list = active_user_dict.keys()
print(len(active_user_list))

206203

In [19]:
print("Length before filter: ", len(clean_implicit_data))
# loai bo tuong tac ma user, item khong co trong active_user_list va active_item_list.
clean_implicit_data = clean_implicit_data[clean_implicit_data.uid.isin(active_user_list)]
print("length after filter user: ", len(clean_implicit_data))
clean_implicit_data = clean_implicit_data[clean_implicit_data.itemid.isin(active_item_list)]
print("length after filter item: ", len(clean_implicit_data))

Length before filter:  4521505
length after filter user:  3401237
length after filter item:  3401237

In [20]:
print("Length before filter: ", len(clean_explicit_data))
# loai bo tuong tac ma user, item khong co trong active_user_list va active_item_list.
clean_explicit_data = clean_explicit_data[clean_explicit_data.uid.isin(active_user_list)]
print("length after filter user: ", len(clean_explicit_data))
clean_explicit_data = clean_explicit_data[clean_explicit_data.itemid.isin(active_item_list)]
print("length after filter item: ", len(clean_explicit_data))

Length before filter:  360506
length after filter user:  157321
length after filter item:  157264

In [23]:
filter_implicit_data = clean_implicit_data.apply(lambda x: pd.Series([active_user_dict[x['uid']], active_item_dict[x['itemid']], x['time'], x["label"]], index=["uid", "itemid", "time", "label"]), axis=1)

In [ ]:
filter_explicit_data = clean_explicit_data.apply(lambda x: pd.Series([active_user_dict[x['uid']], active_item_dict[x['itemid']], x['time'], x["label"]], index=["uid", "itemid", "time", "label"]), axis=1)

In [24]:
filter_implicit_data.to_csv(recobell_root_path + "_implicit.filter.clean.txt", header=False, index=False)

In [25]:
filter_explicit_data.to_csv(recobell_root_path + "_explicit.filter.clean.txt", header=False, index=False)

In [4]:
filter_implicit_data = pd.read_csv(recobell_root_path + "_implicit.filter.clean.txt", header=None, names=['uid', 'itemid', 'time', "label"])
filter_implicit_data

            uid  itemid        time  label
0             0       0  1470917081      1
1             0       1  1470916631      1
2             0       2  1470844977      1
3             0       3  1470811668      1
4             0       4  1470811985      1
5             0       5  1470701526      1
6             1       6  1471021005      1
7             1       7  1470895701      1
8             1       7  1470895586      1
9             1       8  1470843750      1
10            1       9  1470820504      1
11            1       7  1470820908      1
12            1      10  1470644818      1
13            1      10  1470644889      1
14            2      11  1471160940      1
15            0      12  1470917017      1
16            0       0  1470916921      1
17            0      13  1470845413      1
18            0       4  1470811673      1
19            0      14  1470811765      1
20            0       5  1470701744      1
21            0      15  1470701505      1
22            3      16  1470911511      1
23            3      17  1470911148      1
24            3      18  1470911998      1
25            3      19  1470911972      1
26            3      20  1470911054      1
27            3      16  1470911231      1
28            4      21  1471082811      1
29            4      22  1471082547      1
...         ...     ...         ...    ...
3401207  206199    1437  1470608256      1
3401208  206199      89  1470608156      1
3401209  206199    4804  1470608844      1
3401210  206199      80  1470608816      1
3401211  206199     189  1470608029      1
3401212  206199    5690  1470606232      1
3401213  206199    4804  1470605912      1
3401214  206199   24369  1470606676      1
3401215  206199     998  1470605832      1
3401216  206199    1703  1470604368      1
3401217  206199     329  1470604268      1
3401218  206200    1227  1470987723      1
3401219  206200     372  1470885373      1
3401220  206200     550  1470803364      1
3401221  206200     550  1470793550      1
3401222  206200      77  1470726850      1
3401223  206200     550  1470716609      1
3401224  206200   10839  1470727142      1
3401225  206200    2764  1470727284      1
3401226  206200     153  1470710700      1
3401227  206200     550  1470627517      1
3401228  206201   14009  1470719851      1
3401229  206201   17953  1470719825      1
3401230  206201   18063  1470720022      1
3401231  206201    5772  1470720358      1
3401232  206201    4005  1470719994      1
3401233  206202    3105  1471096169      1
3401234  206202    6310  1470916864      1
3401235  206202    3951  1470916692      1
3401236  206202     296  1470916628      1

[3401237 rows x 4 columns]

In [5]:
filter_explicit_data = pd.read_csv(recobell_root_path + "_explicit.filter.clean.txt", header=None, names=['uid', 'itemid', 'time', "label"])
filter_explicit_data

           uid  itemid        time  label
0       154592    2356  1470643815      2
1       154592   11345  1470643815      2
2       154592    2669  1470643815      2
3       154595     114  1470989514      2
4            4      28  1470710071      2
5        90212      42  1471092013      2
6       154604     401  1470975642      2
7        90221     929  1470645412      2
8        90209     659  1470631213      2
9        12674   17150  1471183701      2
10      154592     532  1470643815      2
11      154592    1664  1470643815      2
12      154595     114  1470989514      2
13           4      29  1470666476      2
14       90212      42  1471081534      2
15      154609    1276  1470924541      2
16      154609    7409  1471189697      2
17      154613     528  1470667525      2
18      154613    1594  1470648638      2
19       90246    1368  1470883363      2
20       90248    1301  1470751576      2
21       90249     223  1470740684      2
22      154602      76  1470672468      2
23       90252    2449  1470732195      2
24          23     192  1471099423      2
25          25     455  1470795378      2
26       90283    2070  1470665259      2
27       90288   66372  1470973616      2
28       90288    3924  1470803779      2
29       90288   66787  1470973616      2
...        ...     ...         ...    ...
157234  205304    7221  1470893488      2
157235  205305     114  1470740800      2
157236  205321    1337  1471021107      2
157237  205321     703  1470739466      2
157238  205327   20669  1471156389      2
157239  205330    1439  1470978102      2
157240  205340     782  1471142740      2
157241  205347     670  1471074061      2
157242  205356   22087  1470935876      2
157243  205359     325  1470713741      2
157244  205371     406  1470797381      2
157245  205373      22  1471134552      2
157246  205377    1306  1470736936      2
157247  205378     173  1470820186      2
157248  205394    3297  1470776523      2
157249  205402     455  1471105438      2
157250  205420      16  1470693948      2
157251  205421   12235  1470909217      2
157252  205421     909  1470915823      2
157253  205421   12235  1470909373      2
157254  205426     941  1471086840      2
157255  205435       6  1470673284      2
157256  205449      64  1470819092      2
157257  205449      64  1470812861      2
157258  205455    3909  1470635381      2
157259  205458     191  1471060949      2
157260  205458    1150  1471061801      2
157261  206196     889  1470622722      2
157262  206199   24369  1470610073      2
157263  205465     856  1470722569      2

[157264 rows x 4 columns]

In [6]:
filtered_data = filter_implicit_data.append(filter_explicit_data)
filtered_data

           uid  itemid        time  label
0            0       0  1470917081      1
1            0       1  1470916631      1
2            0       2  1470844977      1
3            0       3  1470811668      1
4            0       4  1470811985      1
5            0       5  1470701526      1
6            1       6  1471021005      1
7            1       7  1470895701      1
8            1       7  1470895586      1
9            1       8  1470843750      1
10           1       9  1470820504      1
11           1       7  1470820908      1
12           1      10  1470644818      1
13           1      10  1470644889      1
14           2      11  1471160940      1
15           0      12  1470917017      1
16           0       0  1470916921      1
17           0      13  1470845413      1
18           0       4  1470811673      1
19           0      14  1470811765      1
20           0       5  1470701744      1
21           0      15  1470701505      1
22           3      16  1470911511      1
23           3      17  1470911148      1
24           3      18  1470911998      1
25           3      19  1470911972      1
26           3      20  1470911054      1
27           3      16  1470911231      1
28           4      21  1471082811      1
29           4      22  1471082547      1
...        ...     ...         ...    ...
157234  205304    7221  1470893488      2
157235  205305     114  1470740800      2
157236  205321    1337  1471021107      2
157237  205321     703  1470739466      2
157238  205327   20669  1471156389      2
157239  205330    1439  1470978102      2
157240  205340     782  1471142740      2
157241  205347     670  1471074061      2
157242  205356   22087  1470935876      2
157243  205359     325  1470713741      2
157244  205371     406  1470797381      2
157245  205373      22  1471134552      2
157246  205377    1306  1470736936      2
157247  205378     173  1470820186      2
157248  205394    3297  1470776523      2
157249  205402     455  1471105438      2
157250  205420      16  1470693948      2
157251  205421   12235  1470909217      2
157252  205421     909  1470915823      2
157253  205421   12235  1470909373      2
157254  205426     941  1471086840      2
157255  205435       6  1470673284      2
157256  205449      64  1470819092      2
157257  205449      64  1470812861      2
157258  205455    3909  1470635381      2
157259  205458     191  1471060949      2
157260  205458    1150  1471061801      2
157261  206196     889  1470622722      2
157262  206199   24369  1470610073      2
157263  205465     856  1470722569      2

[3558501 rows x 4 columns]

In [7]:
sorted_filtered_pd_df = filtered_data.sort_values(by=["uid", "time"], ascending=True).reset_index(drop=True)
sorted_filtered_pd_df

            uid  itemid        time  label
0             0      15  1470701505      1
1             0       5  1470701526      1
2             0       5  1470701744      1
3             0       3  1470811668      1
4             0       4  1470811673      1
5             0      14  1470811765      1
6             0       4  1470811985      1
7             0       2  1470844977      1
8             0      13  1470845413      1
9             0       1  1470916631      1
10            0       0  1470916921      1
11            0      12  1470917017      1
12            0       0  1470917081      1
13            0    1182  1471189847      1
14            0     277  1471190042      1
15            0     277  1471190697      1
16            1      10  1470644766      1
17            1      10  1470644818      1
18            1      10  1470644889      1
19            1      32  1470645277      1
20            1       9  1470820504      1
21            1       7  1470820515      1
22            1       7  1470820908      1
23            1      31  1470821280      1
24            1       8  1470843700      1
25            1       8  1470843750      1
26            1       7  1470895586      1
27            1       7  1470895701      1
28            1       7  1470895782      1
29            1      30  1470989042      1
...         ...     ...         ...    ...
3558471  206200   10839  1470727142      1
3558472  206200    9247  1470727192      1
3558473  206200    3144  1470727243      1
3558474  206200    2764  1470727284      1
3558475  206200    9247  1470727324      1
3558476  206200     550  1470793550      1
3558477  206200     550  1470803364      1
3558478  206200   10839  1470804098      1
3558479  206200     153  1470805534      1
3558480  206200     372  1470885373      1
3558481  206200      84  1470976687      1
3558482  206200    1227  1470987723      1
3558483  206200       2  1470987790      1
3558484  206201     374  1470719578      1
3558485  206201   17953  1470719825      1
3558486  206201   14009  1470719851      1
3558487  206201    4005  1470719963      1
3558488  206201    4005  1470719994      1
3558489  206201   18063  1470720022      1
3558490  206201   19806  1470720079      1
3558491  206201   18063  1470720112      1
3558492  206201    5772  1470720276      1
3558493  206201    5772  1470720358      1
3558494  206202      76  1470916548      1
3558495  206202     296  1470916628      1
3558496  206202    3951  1470916692      1
3558497  206202    2135  1470916749      1
3558498  206202    6310  1470916864      1
3558499  206202    3105  1471096169      1
3558500  206202   18885  1471096323      1

[3558501 rows x 4 columns]

In [9]:
sorted_filtered_pd_df.to_csv(recobell_root_path + "sorted_filtered_data", header=False, index=False)

# create train, test

In [5]:
sorted_filtered_pd_df = pd.read_csv(retail_rocket_root_path + "sorted_filtered_data", header=None, names=["uid", "itemid", "time", "label"])

In [28]:
sorted_filtered_pd_df

          uid  itemid           time  label
0           0   20133  1430802384830      1
1           0     919  1432781848232      1
2           0    4244  1432782322169      1
3           0       0  1433224214164      1
4           0    2921  1433224672007      1
5           0    5692  1433225555976      1
6           0    6353  1433395087236      1
7           0    6353  1433395158782      1
8           0    6353  1433395205712      1
9           0   10195  1433480149682      1
10          0    9442  1433480383896      1
11          0    1249  1433480524891      1
12          0   10652  1433703062882      1
13          0   10345  1433729380709      1
14          0   10340  1433729489683      1
15          0   10603  1433729786622      1
16          0    9442  1433730019241      1
17          0    8738  1433730231553      1
18          0   13742  1433730402675      1
19          0   17896  1433945313290      1
20          0   17428  1433946626515      1
21          0   19630  1434035218038      1
22          0   20133  1434035349084      1
23          0    2679  1434035926844      1
24          0   10603  1434231531446      1
25          0   29323  1435014240987      1
26          0    8664  1435341565477      1
27          0   27941  1436197608867      1
28          0    6353  1436503481324      1
29          0   83046  1438273381735      1
...       ...     ...            ...    ...
613665  36746   39099  1438366315266      1
613666  36747   83100  1438371091177      1
613667  36747   83217  1438371153839      1
613668  36747   83205  1438371222758      1
613669  36747   83263  1438371252928      1
613670  36747   38642  1438372296416      1
613671  36747   52116  1438372317771      1
613672  36747   38642  1438372578913      1
613673  36747   38642  1438373345584      2
613674  36747   38642  1438373706127      3
613675  36747   38642  1438373874580      1
613676  36748   39341  1438382924873      1
613677  36748   39583  1438382999950      1
613678  36748   39341  1438383055736      1
613679  36748   31822  1438383174950      1
613680  36748   39081  1438383294041      1
613681  36748   37795  1438383384459      1
613682  36748    9592  1438383452525      1
613683  36748   37795  1438383628708      1
613684  36748    9592  1438383700882      1
613685  36749   20432  1438329462016      1
613686  36749    4799  1438329582522      1
613687  36749    6569  1438329644465      1
613688  36749   23889  1438329728579      1
613689  36749   21403  1438329786287      1
613690  36750   21591  1438403592429      1
613691  36750   21976  1438403746029      1
613692  36750   27465  1438403820763      1
613693  36750   49707  1438403914087      1
613694  36750     151  1438404173331      1

[613695 rows x 4 columns]

In [7]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

In [9]:
spark = SparkSession.builder.appName("create train, test data").getOrCreate()
spark.sparkContext.setLogLevel('ERROR')

In [16]:
sorted_filtered_df = spark.read.csv(retail_rocket_root_path + "sorted_filtered_data", "uid INT, itemid INT, time LONG, label INT")
sorted_filtered_df.show()

+---+------+-------------+-----+
|uid|itemid|         time|label|
+---+------+-------------+-----+
|  0| 20133|1430802384830|    1|
|  0|   919|1432781848232|    1|
|  0|  4244|1432782322169|    1|
|  0|     0|1433224214164|    1|
|  0|  2921|1433224672007|    1|
|  0|  5692|1433225555976|    1|
|  0|  6353|1433395087236|    1|
|  0|  6353|1433395158782|    1|
|  0|  6353|1433395205712|    1|
|  0| 10195|1433480149682|    1|
|  0|  9442|1433480383896|    1|
|  0|  1249|1433480524891|    1|
|  0| 10652|1433703062882|    1|
|  0| 10345|1433729380709|    1|
|  0| 10340|1433729489683|    1|
|  0| 10603|1433729786622|    1|
|  0|  9442|1433730019241|    1|
|  0|  8738|1433730231553|    1|
|  0| 13742|1433730402675|    1|
|  0| 17896|1433945313290|    1|
+---+------+-------------+-----+
only showing top 20 rows

In [17]:
print(sorted_filtered_df.count())

613695

In [171]:
sorted_filtered_df = sorted_filtered_df.rdd.map(lambda x: (x[0], [(x[1], x[2], x[3])])).reduceByKey(lambda v1, v2: v1 + v2)
print(sorted_filtered_df.take(4))

[(0, [(20133, 1430802384830, 1), (919, 1432781848232, 1), (4244, 1432782322169, 1), (0, 1433224214164, 1), (2921, 1433224672007, 1), (5692, 1433225555976, 1), (6353, 1433395087236, 1), (6353, 1433395158782, 1), (6353, 1433395205712, 1), (10195, 1433480149682, 1), (9442, 1433480383896, 1), (1249, 1433480524891, 1), (10652, 1433703062882, 1), (10345, 1433729380709, 1), (10340, 1433729489683, 1), (10603, 1433729786622, 1), (9442, 1433730019241, 1), (8738, 1433730231553, 1), (13742, 1433730402675, 1), (17896, 1433945313290, 1), (17428, 1433946626515, 1), (19630, 1434035218038, 1), (20133, 1434035349084, 1), (2679, 1434035926844, 1), (10603, 1434231531446, 1), (29323, 1435014240987, 1), (8664, 1435341565477, 1), (27941, 1436197608867, 1), (6353, 1436503481324, 1), (83046, 1438273381735, 1)]), (4, [(14, 1433221123646, 1), (2504, 1433221805923, 1), (2504, 1433221877110, 1), (4, 1433221919130, 1), (1364, 1433221969799, 1), (14, 1433222104658, 2), (4, 1433222132534, 2), (4, 1433222147345, 1), (14, 1433222234895, 1), (4, 1433222272880, 1), (2504, 1433222306083, 1), (14, 1433222323395, 1), (2935, 1433222347980, 1), (2932, 1433222368861, 1), (14, 1433222449099, 1), (2504, 1433222473645, 1), (4, 1433222501643, 1), (1354, 1433222666280, 1), (1372, 1433222788421, 1), (2504, 1433222862175, 1), (2504, 1433222876938, 2), (4, 1433223390388, 3), (2504, 1433223390388, 3)]), (8, [(8, 1433224041294, 1), (8, 1433224322223, 1), (7008, 1433463361419, 1), (8724, 1433463463808, 1), (8452, 1433463535908, 1), (9132, 1433482835395, 1)]), (12, [(2922, 1433221729905, 1), (1367, 1433221755374, 1), (12, 1433222046974, 1), (1743, 1433222173072, 1), (21, 1433222291999, 1), (1992, 1433222357353, 1), (1367, 1433222485097, 1), (827, 1433222801098, 1), (19, 1433222860128, 1), (13, 1433222930873, 1), (25184, 1434599468609, 1), (2479, 1437539832176, 1), (41830, 1438146200982, 1), (531, 1438225211357, 1), (18939, 1438232248370, 1)])]

In [40]:
def list_sort(v):
    v.sort(key=lambda e: e[1])
    return v


no_time_filtered_rdd = sorted_filtered_df.mapValues(list_sort).mapValues(lambda v: [[e[0] for e in v], [e[2] for e in v]])
print(no_time_filtered_rdd.take(1))

[(0, [[20133, 919, 4244, 0, 2921, 5692, 6353, 6353, 6353, 10195, 9442, 1249, 10652, 10345, 10340, 10603, 9442, 8738, 13742, 17896, 17428, 19630, 20133, 2679, 10603, 29323, 8664, 27941, 6353, 83046], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]])]

In [133]:
import progressbar
import scipy.sparse as sp

def load_interact_matrix(df, num_user, num_item):
    start = datetime.datetime.now()
    # Construct matrix
#     mat = sp.dok_matrix((num_user, num_item), dtype=np.bool_)
    mat = []
    for row in progressbar.ProgressBar()(df.itertuples(index=False)):
        uid, itemid = int(row[0]), int(row[1])
        mat.append((uid, itemid))
    print("time load_interact_matrix: ", datetime.datetime.now() - start)
    return mat

interact_matrix = load_interact_matrix(sorted_filtered_pd_df, len(active_user_list), len(active_item_list))
interact_matrix

| |             #                                | 613694 Elapsed Time: 0:00:01

time load_interact_matrix:  0:00:01.423218

[(0, 20133),
 (0, 919),
 (0, 4244),
 (0, 0),
 (0, 2921),
 (0, 5692),
 (0, 6353),
 (0, 6353),
 (0, 6353),
 (0, 10195),
 (0, 9442),
 (0, 1249),
 (0, 10652),
 (0, 10345),
 (0, 10340),
 (0, 10603),
 (0, 9442),
 (0, 8738),
 (0, 13742),
 (0, 17896),
 (0, 17428),
 (0, 19630),
 (0, 20133),
 (0, 2679),
 (0, 10603),
 (0, 29323),
 (0, 8664),
 (0, 27941),
 (0, 6353),
 (0, 83046),
 (1, 2406),
 (1, 90),
 (1, 820),
 (1, 1),
 (1, 17),
 (2, 2),
 (2, 1360),
 (2, 1993),
 (2, 836),
 (2, 2929),
 (2, 1362),
 (2, 832),
 (3, 28),
 (3, 28),
 (3, 28),
 (3, 28),
 (3, 28),
 (3, 35250),
 (3, 25745),
 (3, 7817),
 (3, 25745),
 (3, 5706),
 (3, 46406),
 (3, 64218),
 (3, 6790),
 (3, 1135),
 (3, 28),
 (3, 28),
 (3, 28),
 (3, 28),
 (3, 3),
 (3, 12876),
 (3, 22973),
 (3, 9154),
 (3, 10023),
 (4, 14),
 (4, 2504),
 (4, 2504),
 (4, 4),
 (4, 1364),
 (4, 14),
 (4, 4),
 (4, 4),
 (4, 14),
 (4, 4),
 (4, 2504),
 (4, 14),
 (4, 2935),
 (4, 2932),
 (4, 14),
 (4, 2504),
 (4, 4),
 (4, 1354),
 (4, 1372),
 (4, 2504),
 (4, 2504),
 (4, 4),
 (4, 2504),
 (5, 70828),
 (5, 3314),
 (5, 11466),
 (5, 5),
 (5, 24),
 (6, 542),
 (6, 542),
 (6, 6),
 (6, 18655),
 (6, 48867),
 (6, 52027),
 (7, 2403),
 (7, 2514),
 (7, 1666),
 (7, 2507),
 (7, 7),
 (8, 8),
 (8, 8),
 (8, 7008),
 (8, 8724),
 (8, 8452),
 (8, 9132),
 (9, 71139),
 (9, 71136),
 (9, 1368),
 (9, 9),
 (9, 828),
 (10, 5037),
 (10, 5037),
 (10, 5928),
 (10, 9795),
 (10, 914),
 (10, 10),
 (10, 1986),
 (10, 920),
 (10, 1366),
 (10, 1980),
 (10, 826),
 (10, 2501),
 (10, 29),
 (10, 1355),
 (10, 1980),
 (10, 1980),
 (10, 23275),
 (10, 43836),
 (10, 43836),
 (10, 43836),
 (11, 1647),
 (11, 2841),
 (11, 11),
 (11, 2511),
 (11, 2837),
 (12, 2922),
 (12, 1367),
 (12, 12),
 (12, 1743),
 (12, 21),
 (12, 1992),
 (12, 1367),
 (12, 827),
 (12, 19),
 (12, 13),
 (12, 25184),
 (12, 2479),
 (12, 41830),
 (12, 531),
 (12, 18939),
 (13, 1458),
 (13, 502),
 (13, 3),
 (13, 502),
 (13, 41303),
 (13, 502),
 (13, 3662),
 (13, 502),
 (13, 8451),
 (13, 21156),
 (13, 21156),
 (13, 4555),
 (13, 8451),
 (13, 7214),
 (13, 502),
 (13, 502),
 (13, 502),
 (13, 502),
 (13, 71563),
 (13, 502),
 (13, 1458),
 (13, 1458),
 (13, 15),
 (13, 15),
 (13, 15),
 (13, 15),
 (13, 2907),
 (13, 2521),
 (13, 2521),
 (13, 100),
 (13, 100),
 (13, 100),
 (13, 1988),
 (13, 1981),
 (13, 1981),
 (13, 15),
 (13, 15),
 (13, 15),
 (13, 1988),
 (13, 1988),
 (13, 15),
 (13, 15),
 (13, 15),
 (13, 7437),
 (13, 7437),
 (13, 7437),
 (14, 9260),
 (14, 17511),
 (14, 19466),
 (14, 5854),
 (14, 17511),
 (14, 17511),
 (14, 17511),
 (14, 17511),
 (14, 16),
 (14, 16),
 (14, 1985),
 (14, 30118),
 (14, 887),
 (14, 887),
 (14, 4162),
 (14, 1904),
 (14, 10843),
 (14, 613),
 (14, 1370),
 (14, 1370),
 (14, 8663),
 (14, 1122),
 (14, 92),
 (14, 1365),
 (14, 6257),
 (14, 333),
 (14, 195),
 (14, 1170),
 (14, 1365),
 (14, 92),
 (14, 1645),
 (14, 2913),
 (14, 1365),
 (14, 1370),
 (14, 2913),
 (14, 1985),
 (14, 16),
 (14, 1370),
 (14, 613),
 (14, 613),
 (14, 613),
 (14, 887),
 (14, 887),
 (14, 887),
 (14, 1985),
 (14, 560),
 (15, 11903),
 (15, 7184),
 (15, 5180),
 (15, 3461),
 (15, 5180),
 (15, 7184),
 (15, 18),
 (15, 281),
 (15, 574),
 (15, 18),
 (15, 18),
 (15, 574),
 (15, 574),
 (16, 392),
 (16, 1658),
 (16, 2529),
 (16, 1359),
 (16, 1352),
 (16, 1982),
 (16, 1983),
 (16, 20),
 (17, 4323),
 (17, 2336),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 4323),
 (17, 33831),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 7210),
 (17, 22),
 (17, 83121),
 (17, 29041),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (17, 22),
 (18, 5595),
 (18, 631),
 (18, 623),
 (18, 23),
 (18, 743),
 (18, 818),
 (18, 23),
 (18, 23),
 (18, 23),
 (18, 23),
 (18, 23),
 (18, 23),
 (19, 2154),
 (19, 25),
 (19, 2927),
 (19, 2930),
 (19, 5259),
 (19, 14852),
 (19, 2927),
 (20, 150),
 (20, 26),
 (20, 3521),
 (20, 5362),
 (20, 4039),
 (21, 5298),
 (21, 13339),
 (21, 2004),
 (21, 14591),
 (21, 17096),
 (21, 17082),
 (21, 17884),
 (21, 1351),
 (21, 27),
 (21, 817),
 (22, 30),
 (22, 2879),
 (22, 1400),
 (22, 30),
 (22, 2156),
 (22, 1397),
 (23, 1380),
 (23, 78),
 (23, 78),
 (23, 31),
 (23, 2447),
 (23, 2883),
 (23, 60),
 (23, 1942),
 (24, 1970),
 (24, 44),
 (24, 772),
 (24, 1945),
 (24, 2464),
 (24, 32),
 (24, 230),
 (24, 1395),
 (24, 2857),
 (24, 2869),
 (24, 4313),
 (25, 20427),
 (25, 18604),
 (25, 10306),
 (25, 1286),
 (25, 60649),
 (25, 571),
 (25, 647),
 (25, 16931),
 (25, 1023),
 (25, 19974),
 (25, 60294),
 (25, 11970),
 (25, 11970),
 (25, 8470),
 (25, 1799),
 (25, 1613),
 (25, 15925),
 (25, 47107),
 (25, 23081),
 (25, 47107),
 (25, 7492),
 (25, 117),
 (25, 8200),
 (25, 8820),
 (25, 39626),
 (25, 39626),
 (25, 11249),
 (25, 17443),
 (25, 61818),
 (25, 61895),
 (25, 60085),
 (25, 60238),
 (25, 60238),
 (25, 26950),
 (25, 44518),
 (25, 7353),
 (25, 24025),
 (25, 7353),
 (25, 35174),
 (25, 11900),
 (25, 4260),
 (25, 16929),
 (25, 7396),
 (25, 21449),
 (25, 21191),
 (25, 12990),
 (25, 38206),
 (25, 7396),
 (25, 23236),
 (25, 60091),
 (25, 28532),
 (25, 18684),
 (25, 215),
 (25, 4176),
 (25, 60954),
 (25, 61444),
 (25, 5052),
 (25, 24789),
 (25, 21607),
 (25, 21607),
 (25, 61760),
 (25, 59874),
 (25, 5419),
 (25, 14316),
 (25, 33433),
 (25, 3587),
 (25, 60928),
 (25, 3587),
 (25, 44518),
 (25, 61756),
 (25, 11900),
 (25, 17427),
 (25, 22276),
 (25, 22276),
 (25, 22579),
 (25, 61916),
 (25, 61916),
 (25, 50071),
 (25, 12376),
 (25, 50071),
 (25, 17080),
 (25, 11443),
 (25, 35544),
 (25, 45411),
 (25, 6824),
 (25, 5298),
 (25, 3088),
 (25, 23081),
 (25, 59681),
 (25, 242),
 (25, 6649),
 (25, 318),
 (25, 64703),
 (25, 28879),
 (25, 64699),
 (25, 318),
 (25, 4358),
 (25, 49411),
 (25, 23648),
 (25, 22855),
 (25, 37463),
 (25, 47621),
 (25, 64435),
 (25, 64425),
 (25, 64435),
 (25, 64509),
 (25, 63357),
 (25, 64692),
 (25, 33513),
 (25, 33513),
 (25, 1757),
 (25, 7376),
 (25, 3131),
 (25, 1393),
 (25, 25429),
 (25, 5311),
 (25, 5311),
 (25, 1685),
 (25, 17755),
 (25, 731),
 (25, 19847),
 (25, 10588),
 (25, 54167),
 (25, 65487),
 (25, 2304),
 (25, 62643),
 (25, 2304),
 (25, 65283),
 (25, 63066),
 (25, 65780),
 (25, 19457),
 (25, 38755),
 (25, 19457),
 (25, 37797),
 (25, 19457),
 (25, 65775),
 (25, 60091),
 (25, 21066),
 (25, 13936),
 (25, 13936),
 (25, 54132),
 (25, 42214),
 (25, 42214),
 (25, 2043),
 (25, 2079),
 (25, 117),
 (25, 26854),
 (25, 25812),
 (25, 2995),
 (25, 2995),
 (25, 25812),
 (25, 117),
 (25, 18203),
 (25, 117),
 (25, 65171),
 (25, 63411),
 (25, 7016),
 (25, 7016),
 (25, 13936),
 (25, 62658),
 (25, 29703),
 (25, 65605),
 (25, 65605),
 (25, 65899),
 (25, 18679),
 (25, 65605),
 (25, 65576),
 (25, 65764),
 (25, 37355),
 (25, 58631),
 (25, 58631),
 (25, 55723),
 (25, 28990),
 (25, 42110),
 (25, 57335),
 (25, 39065),
 (25, 9456),
 (25, 60768),
 (25, 9422),
 (25, 62658),
 (25, 60801),
 (25, 12234),
 (25, 12234),
 (25, 60801),
 (25, 55676),
 (25, 43555),
 (25, 23228),
 (25, 16184),
 (25, 44846),
 (25, 65605),
 (25, 65333),
 (25, 33686),
 (25, 13905),
 (25, 67070),
 (25, 15986),
 (25, 15986),
 (25, 716),
 (25, 19020),
 (25, 716),
 (25, 15986),
 (25, 8510),
 (25, 19647),
 (25, 27162),
 (25, 27162),
 (25, 77),
 (25, 18373),
 (25, 7522),
 (25, 14631),
 (25, 22258),
 (25, 22258),
 (25, 5205),
 (25, 5048),
 (25, 7725),
 (25, 52729),
 (25, 10935),
 (25, 67128),
 (25, 67239),
 (25, 11889),
 (25, 11863),
 (25, 47484),
 (25, 66076),
 (25, 9814),
 (25, 58631),
 (25, 24528),
 (25, 42110),
 (25, 55676),
 (25, 3282),
 (25, 28077),
 (25, 61068),
 (25, 55676),
 (25, 3282),
 (25, 24245),
 (25, 1250),
 (25, 24245),
 (25, 1250),
 (25, 10228),
 (25, 13335),
 (25, 67763),
 (25, 117),
 (25, 8200),
 (25, 117),
 (25, 26854),
 (25, 23167),
 (25, 66741),
 (25, 65073),
 (25, 67319),
 (25, 48260),
 (25, 60801),
 (25, 12234),
 (25, 60801),
 (25, 60681),
 (25, 1470),
 (25, 623),
 (25, 65286),
 (25, 77),
 (25, 37399),
 (25, 38116),
 (25, 2189),
 (25, 66778),
 (25, 27127),
 (25, 66369),
 (25, 938),
 (25, 4627),
 (25, 45789),
 (25, 5714),
 (25, 43474),
 (25, 43474),
 (25, 6780),
 (25, 2966),
 (25, 66874),
 (25, 26967),
 (25, 23821),
 (25, 8170),
 (25, 23821),
 (25, 33551),
 (25, 33551),
 (25, 33551),
 (25, 67397),
 (25, 8403),
 (25, 6905),
 (25, 52),
 (25, 6940),
 (25, 6033),
 (25, 30639),
 (25, 6940),
 (25, 6033),
 (25, 32169),
 (25, 64427),
 (25, 32169),
 (25, 27127),
 (25, 31089),
 (25, 31089),
 (25, 10324),
 (25, 67110),
 (25, 10746),
 (25, 67110),
 (25, 26533),
 (25, 26533),
 (25, 58123),
 (25, 42315),
 (25, 58123),
 (25, 38623),
 (25, 29188),
 (25, 63066),
 (25, 67713),
 (25, 63066),
 (25, 523),
 (25, 29188),
 (25, 23350),
 (25, 23350),
 (25, 23582),
 (25, 301),
 (25, 7823),
 (25, 43217),
 (25, 3939),
 (25, 202),
 (25, 3164),
 (25, 41299),
 (25, 42489),
 (25, 1656),
 (25, 68302),
 (25, 9113),
 (25, 9022),
 (25, 1626),
 (25, 25557),
 (25, 25557),
 (25, 13575),
 (25, 1626),
 (25, 3122),
 (25, 8326),
 (25, 3803),
 (25, 4742),
 (25, 3803),
 (25, 868),
 (25, 56843),
 (25, 65655),
 (25, 65784),
 (25, 452),
 (25, 6476),
 (25, 24604),
 (25, 6476),
 (25, 1751),
 (25, 61954),
 (25, 16057),
 (25, 16057),
 (25, 14588),
 (25, 2172),
 (25, 2225),
 (25, 28252),
 (25, 8403),
 (25, 8403),
 (25, 9542),
 (25, 30836),
 (25, 20940),
 (25, 18583),
 (25, 9149),
 (25, 54563),
 (25, 54563),
 (25, 34434),
 (25, 2051),
 (25, 8234),
 (25, 6050),
 (25, 4941),
 (25, 9047),
 (25, 18316),
 (25, 28436),
 (25, 26816),
 (25, 32169),
 (25, 67522),
 (25, 31494),
 (25, 48876),
 (25, 39889),
 (25, 39889),
 (25, 9102),
 (25, 31494),
 (25, 37672),
 (25, 37672),
 (25, 24031),
 (25, 20099),
 (25, 36113),
 (25, 14231),
 (25, 12231),
 (25, 37672),
 (25, 7164),
 (25, 9047),
 (25, 9047),
 (25, 7016),
 (25, 46437),
 (25, 40395),
 (25, 24240),
 (25, 24240),
 (25, 32454),
 (25, 6598),
 (25, 16057),
 (25, 8617),
 (25, 2956),
 (25, 3225),
 (25, 17327),
 (25, 50161),
 (25, 868),
 (25, 3882),
 (25, 6390),
 (25, 8045),
 (25, 13146),
 (25, 70315),
 (25, 3861),
 (25, 70346),
 (25, 70346),
 (25, 10043),
 (25, 12559),
 (25, 6052),
 (25, 344),
 (25, 13291),
 (25, 70705),
 (25, 582),
 (25, 4230),
 (25, 4230),
 (25, 4230),
 (25, 4230),
 (25, 5841),
 (25, 8874),
 (25, 5841),
 (25, 8874),
 (25, 17622),
 (25, 1256),
 (25, 248),
 (25, 40226),
 (25, 65984),
 (25, 65984),
 (25, 50161),
 (25, 40523),
 (25, 40523),
 (25, 1820),
 (25, 1620),
 (25, 3022),
 (25, 3022),
 (25, 1847),
 (25, 2019),
 (25, 3950),
 (25, 13814),
 (25, 28117),
 (25, 25827),
 (25, 678),
 (25, 5017),
 (25, 10420),
 (25, 6215),
 (25, 1505),
 (25, 1505),
 (25, 1505),
 (25, 876),
 (25, 876),
 (25, 385),
 (25, 1331),
 (25, 460),
 (25, 1951),
 (25, 1951),
 (25, 1419),
 (25, 1386),
 (25, 2863),
 (25, 1386),
 (25, 1386),
 (25, 2876),
 (25, 1390),
 (25, 33),
 (25, 33),
 (25, 73),
 (25, 796),
 (25, 39),
 (25, 796),
 (25, 1181),
 (25, 2093),
 (25, 1181),
 (25, 590),
 (25, 590),
 (25, 1211),
 (25, 1191),
 (25, 1779),
 (25, 417),
 (25, 2990),
 (25, 1855),
 (25, 876),
 (25, 267),
 (25, 1658),
 (25, 1095),
 (25, 4953),
 (25, 3072),
 (25, 3502),
 (25, 3582),
 (25, 4402),
 (25, 3582),
 (25, 3582),
 (25, 3572),
 (25, 916),
 (25, 541),
 (25, 3484),
 (25, 3470),
 (25, 726),
 (25, 5617),
 (25, 3888),
 (25, 3888),
 (25, 5809),
 (25, 4494),
 (25, 3832),
 (25, 3832),
 (25, 3832),
 (25, 5809),
 (25, 2945),
 (25, 390),
 (25, 6362),
 (25, 6522),
 (25, 655),
 (25, 3705),
 (25, 3764),
 (25, 6896),
 (25, 2629),
 (25, 6363),
 (25, 6450),
 (25, 6450),
 (25, 6450),
 (25, 6450),
 (25, 2263),
 (25, 6450),
 (25, 8020),
 ...]

In [125]:
interact_matrix = [[0, 20133]]

In [134]:
interact_matrix_bcast = spark.sparkContext.broadcast(interact_matrix)
interact_matrix_bcast

In [136]:
if (0, 20133) in interact_matrix:
    print(True)

True

In [179]:
import random
def build_train(x, window_size, interact_matrix, num_item):
    def get_neg_list(uid, s):
        get_neg_list = []
        for _ in range(s):
            j = random.randrange(num_item)
            while (uid, j) in interact_matrix:
                j = random.randrange(num_item)
            get_neg_list.append(j)
        return get_neg_list
    
    res = []
    user_id = x[0]
    item_list = x[1][0] 
    label_list = x[1][1] 
    test_index = len(label_list) - 1
    while test_index >= 0:
        if label_list[test_index] != 1:
            break
        test_index -= 1
    # khong co addtocart va purchase
    if test_index < 0:
        # for training
        for i in range(len(item_list)):
            if i < window_size:
                t = [True,
                     user_id, 
                     (window_size - i) * [-1] + item_list[:i], 
                     (window_size - i) * [-1] + get_neg_list(user_id, i), 
                     item_list[i],
                     label_list[i],
                    ]
            else:
                t = [True,
                     user_id, 
                     item_list[i - window_size:i], 
                     get_neg_list(user_id, window_size), 
                     item_list[i],
                     label_list[i]
                    ]
            res.append(t)
            
    # co addtocart hoac purchase
    else:
        # for training
        for i in range(test_index):
            if i < window_size:
                t = [True,
                     user_id, 
                     (window_size - i) * [-1] + item_list[:i], 
                     (window_size - i) * [-1] + get_neg_list(user_id, i), 
                     item_list[i],
                     label_list[i]
                    ]
            else:
                t = [True,
                     user_id, 
                     item_list[i - window_size:i], 
                     get_neg_list(user_id, window_size), 
                     item_list[i],
                     label_list[i]
                     ]
            res.append(t)
        
        # for training
        new_start_point = test_index + 1
        for i in range(new_start_point, len(item_list)):
            if i - new_start_point < window_size:
                t = [True,
                     user_id, 
                     (window_size - i) * [-1] + item_list[new_start_point:i], 
                     (window_size - i) * [-1] + get_neg_list(user_id, i - new_start_point), 
                     item_list[i],
                     label_list[i]
                    ]
            else:
                t = [True,
                     user_id, 
                     item_list[i - window_size:i], 
                     get_neg_list(user_id, window_size), 
                     item_list[i],
                     label_list[i]
                     ]
                res.append(t)
        
        # for testing
        if test_index < window_size:
            t = [False,
                 user_id, 
                 (window_size - test_index) * [-1] + item_list[:test_index],
                 item_list[test_index],
                 label_list[test_index]
                ]
        else:
            t = [False,
                 user_id, 
                 item_list[test_index - window_size:test_index],
                 item_list[test_index],
                 label_list[test_index]
                ]
        res.append(t)

#     # for training
#     for i in range(len(item_list)):
#         if i < window_size:
#             t = [True,
#                  user_id, 
#                  (window_size - i) * [-1] + item_list[:i], 
#                  (window_size - i) * [-1] + get_neg_list(user_id, i), 
#                  item_list[i],
#                  label_list[i]
#                 ]
#         else:
#             t = [True,
#                  user_id, 
#                  item_list[i - window_size:i], 
#                  get_neg_list(user_id, window_size), 
#                  item_list[i],
#                  label_list[i]
#                 ]
#         res.append(t)
    return res

In [180]:
test_final_df = no_time_filtered_rdd
# .filter(lambda x: x[0] == 4)
print(test_final_df.take(5))

[(0, [[20133, 919, 4244, 0, 2921, 5692, 6353, 6353, 6353, 10195, 9442, 1249, 10652, 10345, 10340, 10603, 9442, 8738, 13742, 17896, 17428, 19630, 20133, 2679, 10603, 29323, 8664, 27941, 6353, 83046], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]), (4, [[14, 2504, 2504, 4, 1364, 14, 4, 4, 14, 4, 2504, 14, 2935, 2932, 14, 2504, 4, 1354, 1372, 2504, 2504, 4, 2504], [1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 3]]), (8, [[8, 8, 7008, 8724, 8452, 9132], [1, 1, 1, 1, 1, 1]]), (12, [[2922, 1367, 12, 1743, 21, 1992, 1367, 827, 19, 13, 25184, 2479, 41830, 531, 18939], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]), (16, [[392, 1658, 2529, 1359, 1352, 1982, 1983, 20], [1, 1, 1, 1, 1, 1, 1, 1]])]

In [181]:
num_item = len(active_item_list)
final_df = test_final_df.flatMap(lambda x: build_train(x, 5, interact_matrix_bcast.value, num_item))
# for m in final_df.collect():
#     print(m)

In [182]:
import json
train_data_rdd = final_df.filter(lambda x: x[0]).map(lambda x: [x[1], json.dumps(x[2]), json.dumps(x[3]), x[4], x[5]])

In [187]:
train_data_df = train_data_rdd.toDF(["user_id", "last_item_ids", "last_item_ids_neg", "target_item_id", "target_label"])
train_data_df.show(truncate=False)

+-------+----------------------------------+-----------------------------------+--------------+------------+
|user_id|last_item_ids                     |last_item_ids_neg                  |target_item_id|target_label|
+-------+----------------------------------+-----------------------------------+--------------+------------+
|0      |[-1, -1, -1, -1, -1]              |[-1, -1, -1, -1, -1]               |20133         |1           |
|0      |[-1, -1, -1, -1, 20133]           |[-1, -1, -1, -1, 39573]            |919           |1           |
|0      |[-1, -1, -1, 20133, 919]          |[-1, -1, -1, 45531, 42862]         |4244          |1           |
|0      |[-1, -1, 20133, 919, 4244]        |[-1, -1, 64557, 26978, 28892]      |0             |1           |
|0      |[-1, 20133, 919, 4244, 0]         |[-1, 36430, 2946, 53740, 4764]     |2921          |1           |
|0      |[20133, 919, 4244, 0, 2921]       |[71005, 17569, 40505, 22003, 78312]|5692          |1           |
|0      |[919, 4244, 0, 2921, 5692]        |[77565, 62665, 44657, 39107, 62565]|6353          |1           |
|0      |[4244, 0, 2921, 5692, 6353]       |[50700, 27944, 3250, 8756, 40358]  |6353          |1           |
|0      |[0, 2921, 5692, 6353, 6353]       |[17377, 17427, 21742, 37883, 6979] |6353          |1           |
|0      |[2921, 5692, 6353, 6353, 6353]    |[46087, 28995, 5271, 29713, 47257] |10195         |1           |
|0      |[5692, 6353, 6353, 6353, 10195]   |[74014, 82548, 72483, 40455, 52265]|9442          |1           |
|0      |[6353, 6353, 6353, 10195, 9442]   |[33744, 70538, 55688, 2879, 33700] |1249          |1           |
|0      |[6353, 6353, 10195, 9442, 1249]   |[39688, 68057, 79478, 44665, 16137]|10652         |1           |
|0      |[6353, 10195, 9442, 1249, 10652]  |[37152, 5614, 9693, 70636, 46597]  |10345         |1           |
|0      |[10195, 9442, 1249, 10652, 10345] |[1221, 22652, 77161, 65786, 25292] |10340         |1           |
|0      |[9442, 1249, 10652, 10345, 10340] |[33124, 57595, 69841, 42548, 7499] |10603         |1           |
|0      |[1249, 10652, 10345, 10340, 10603]|[53097, 55091, 16087, 74352, 38524]|9442          |1           |
|0      |[10652, 10345, 10340, 10603, 9442]|[15516, 49643, 76761, 55152, 82628]|8738          |1           |
|0      |[10345, 10340, 10603, 9442, 8738] |[45549, 9881, 64987, 5943, 70784]  |13742         |1           |
|0      |[10340, 10603, 9442, 8738, 13742] |[38820, 20204, 72421, 44488, 59935]|17896         |1           |
+-------+----------------------------------+-----------------------------------+--------------+------------+
only showing top 20 rows

In [190]:
train_data_df.write.mode("overwrite").csv(retail_rocket_root_path + "sequence_train_data", quote="|", quoteAll=True)